!
! Last configuration change at 06:04:29 UTC Fri Mar 6 2026 by z350553@rx
!
version 17.6
service nagle
service tcp-keepalives-in
service tcp-keepalives-out
service timestamps debug datetime msec localtime show-timezone
service timestamps log datetime msec localtime show-timezone
service password-encryption
service sequence-numbers
service call-home
platform qfp utilization monitor load 80
platform punt-keepalive disable-kernel-core
!
hostname rricrcp-wanmpls-121101-rack7
!
boot-start-marker
boot system bootflash:packages.conf
boot system flash bootflash:/isr4400-universalk9.17.06.05.SPA.bin
boot-end-marker
!
!
vrf definition Mgmt-intf
 !
 address-family ipv4
 exit-address-family
 !
 address-family ipv6
 exit-address-family
!
logging count
logging buffered 262144
no logging console
enable secret 9 $9$Ik1hpFvWJSstLU$mDqtNKqkITeVIVZwtMWYxpT.eg6lVXGS8TSmdaXwoY.
!
aaa new-model
!
!
aaa group server tacacs+ CVSHealth-ISE
 server name CVSHealth-ISE-RI-1
 server name CVSHealth-ISE-RI-2
 server name CVSHealth-ISE-AZ-1
 server name CVSHealth-ISE-AZ-2
 ip vrf forwarding Mgmt-intf
!
aaa authentication password-prompt "Local Password:"
aaa authentication username-prompt "Local Username:"
aaa authentication login default group CVSHealth-ISE local
aaa authentication enable default group CVSHealth-ISE enable
aaa authorization console
aaa authorization config-commands
aaa authorization exec default group CVSHealth-ISE local 
aaa authorization commands 15 default group CVSHealth-ISE none 
aaa accounting exec default stop-only group CVSHealth-ISE
aaa accounting commands 15 default stop-only group CVSHealth-ISE
!
!
!
!
!
!
aaa session-id common
!
!
!
!
!
!
!
ip name-server 10.228.144.15 10.228.144.20
ip domain name cvshealth.com
!
!
!
no login on-success log
!
!
!
!
!
!
!
subscriber templating
multilink bundle-name authenticated
!
!
!
crypto pki trustpoint TP-self-signed-2220836557
 enrollment selfsigned
 subject-name cn=IOS-Self-Signed-Certificate-2220836557
 revocation-check none
 rsakeypair TP-self-signed-2220836557
!
crypto pki trustpoint SLA-TrustPoint
 enrollment pkcs12
 revocation-check crl
!
!
crypto pki certificate chain TP-self-signed-2220836557
 certificate self-signed 01
  30820330 30820218 A0030201 02020101 300D0609 2A864886 F70D0101 05050030 
  31312F30 2D060355 04031326 494F532D 53656C66 2D536967 6E65642D 43657274 
  69666963 6174652D 32323230 38333635 3537301E 170D3235 30323230 31353237 
  30305A17 0D333530 32323031 35323730 305A3031 312F302D 06035504 03132649 
  4F532D53 656C662D 5369676E 65642D43 65727469 66696361 74652D32 32323038 
  33363535 37308201 22300D06 092A8648 86F70D01 01010500 0382010F 00308201 
  0A028201 01008E32 366FDC9D 773EF35E 0B05475B 72716CF9 352D5E34 FBAE3FD1 
  BEDA04AE FB80D230 3082216C F331B9F8 51B46B5F C209FCD0 3FC2CB04 425D25B9 
  B602DD22 5673A6F8 0C9B9DB4 442A1AE3 226494C7 61A69C39 3D52A803 978E337D 
  E724EA7B CCC1DAAA 600CD7B2 8C29E398 A0B079B0 B85C720D CE5FD43D 97D7BF8E 
  A756181E D06E4E19 ED6E76BD F6B6D3AD AE06CD45 E7D8C7C6 77D7372C 8110D077 
  9A2C4C35 D40BF6F1 61500140 C8316A1E 49E3EFE3 B9351D1F 626BEA89 8DD6D499 
  3F60099D 53D78DBD 9AD8E439 8BAC6921 3A984E08 AEFF1E41 5BB236C1 449A1442 
  B40F86A1 342CA56D CC67C852 EFBD026E 8A0ADAC2 760FFB67 3F416F08 29D89560 
  B0961376 80E70203 010001A3 53305130 0F060355 1D130101 FF040530 030101FF 
  301F0603 551D2304 18301680 14339A0E 41EFBCEB 8D7BB3EB B558233E D567F545 
  52301D06 03551D0E 04160414 339A0E41 EFBCEB8D 7BB3EBB5 58233ED5 67F54552 
  300D0609 2A864886 F70D0101 05050003 82010100 5FD1D182 A2585D6D 5B17040F 
  93A6E994 665CBB77 6417B4C4 763186EB BA43D708 839B2665 ADA2562F 284293E9 
  1507C9A4 A855190B E95E8737 1866E294 A62BE8BA FF5BC85A F0D80358 047F70CE 
  AE33929F 672F5635 B532C938 2FB6CB38 188AF48A C84EB689 7925E7DF F333F35F 
  2A8782EB 11CFF7A5 47F62194 35453074 73B0DF45 66F24077 53E3A699 69201682 
  60F8F0CA 15CB2968 CFE7E021 063D5F36 D50450D9 3D420A1A 037C2A0C 1AA3BA08 
  4CAE500F FDC977C8 64D8E0E3 D263AADA 6FBC8135 DC0B29FC 832B80C0 FE62012F 
  468CD403 F8FBF0E2 37994547 61E12239 0AF501B9 AA89CEC7 4C577DCB D6E9BFA6 
  0CFAF5BD 4DF522D9 AA06A83C 812B644F 393A6C77
  	quit
crypto pki certificate chain SLA-TrustPoint
 certificate ca 01
  30820321 30820209 A0030201 02020101 300D0609 2A864886 F70D0101 0B050030 
  32310E30 0C060355 040A1305 43697363 6F312030 1E060355 04031317 43697363 
  6F204C69 63656E73 696E6720 526F6F74 20434130 1E170D31 33303533 30313934 
  3834375A 170D3338 30353330 31393438 34375A30 32310E30 0C060355 040A1305 
  43697363 6F312030 1E060355 04031317 43697363 6F204C69 63656E73 696E6720 
  526F6F74 20434130 82012230 0D06092A 864886F7 0D010101 05000382 010F0030 
  82010A02 82010100 A6BCBD96 131E05F7 145EA72C 2CD686E6 17222EA1 F1EFF64D 
  CBB4C798 212AA147 C655D8D7 9471380D 8711441E 1AAF071A 9CAE6388 8A38E520 
  1C394D78 462EF239 C659F715 B98C0A59 5BBB5CBD 0CFEBEA3 700A8BF7 D8F256EE 
  4AA4E80D DB6FD1C9 60B1FD18 FFC69C96 6FA68957 A2617DE7 104FDC5F EA2956AC 
  7390A3EB 2B5436AD C847A2C5 DAB553EB 69A9A535 58E9F3E3 C0BD23CF 58BD7188 
  68E69491 20F320E7 948E71D7 AE3BCC84 F10684C7 4BC8E00F 539BA42B 42C68BB7 
  C7479096 B4CB2D62 EA2F505D C7B062A4 6811D95B E8250FC4 5D5D5FB8 8F27D191 
  C55F0D76 61F9A4CD 3D992327 A8BB03BD 4E6D7069 7CBADF8B DF5F4368 95135E44 
  DFC7C6CF 04DD7FD1 02030100 01A34230 40300E06 03551D0F 0101FF04 04030201 
  06300F06 03551D13 0101FF04 05300301 01FF301D 0603551D 0E041604 1449DC85 
  4B3D31E5 1B3E6A17 606AF333 3D3B4C73 E8300D06 092A8648 86F70D01 010B0500 
  03820101 00507F24 D3932A66 86025D9F E838AE5C 6D4DF6B0 49631C78 240DA905 
  604EDCDE FF4FED2B 77FC460E CD636FDB DD44681E 3A5673AB 9093D3B1 6C9E3D8B 
  D98987BF E40CBD9E 1AECA0C2 2189BB5C 8FA85686 CD98B646 5575B146 8DFC66A8 
  467A3DF4 4D565700 6ADF0F0D CF835015 3C04FF7C 21E878AC 11BA9CD2 55A9232C 
  7CA7B7E6 C1AF74F6 152E99B7 B1FCF9BB E973DE7F 5BDDEB86 C71E3B49 1765308B 
  5FB0DA06 B92AFE7F 494E8A9E 07B85737 F3A58BE1 1A48A229 C37C1E69 39F08678 
  80DDCD16 D6BACECA EEBC7CF9 8428787B 35202CDC 60E4616A B623CDBD 230E3AFB 
  418616A9 4093E049 4D10AB75 27E86F73 932E35B5 8862FDAE 0275156F 719BB2F0 
  D697DF7F 28
  	quit
!
crypto pki certificate pool
 cabundle nvram:ios_core.p7b
!
!
license udi pid ISR4431/K9 sn FOC24460XXR
archive
 log config
  logging enable
  notify syslog contenttype plaintext
memory free low-watermark processor 67460
!
diagnostic bootup level minimal
!
spanning-tree extend system-id
!
username telecom privilege 15 secret 9 $14$n.q3$NhZpibMxu233P.$SJHuZ13PNFSeTYFR0xbXTar1Hds.oeJfdMwHxIKBFlU
username ciscoworks privilege 15 secret 9 $14$i6Iy$qRZ3BeIuZIisfU$4AGPhpgjwGzd5IMTowemnFebtGRO7v1IhT9a3Q.BiwI
username CiscoAdmin privilege 15 secret 9 $9$uaW/6rLigC9JEU$ujFtyEYRJiJWHHSvbrj4feRPpF2zufDbR7FP90G9V0Q
username CiscoSuperAdmin privilege 15 secret 9 $9$VHbgHOOiRtPVCE$y6gDJVRp6m6WA2A3xZHnLrNZFOcJDheBXND0Y9ieTC2
!
redundancy
 mode none
!
!
!
!
!
!
!
!
interface Loopback0
 no ip address
!
interface GigabitEthernet0/0/0
 description Broadband uplink 72.215.52.5
 ip address dhcp
 ip nat outside
 negotiation auto
!
interface GigabitEthernet0/0/1
 description uplink to rricrcp-dis-121101-rack7:Gig1/0/1
 ip address 100.100.70.1 255.255.255.0
 ip nat inside
 negotiation auto
!
interface GigabitEthernet0/0/2
 no ip address
 negotiation auto
!
interface GigabitEthernet0/0/3
 no ip address
 shutdown
 negotiation auto
!
interface GigabitEthernet0
 description uplink to rricrcp-acc-mdf-01:Gig4/0/8
 vrf forwarding Mgmt-intf
 ip address 10.51.160.12 255.255.254.0
 negotiation auto
!
no ip http server
ip http authentication local
no ip http secure-server
ip forward-protocol nd
no ip forward-protocol udp netbios-ns
no ip forward-protocol udp netbios-dgm
ip tftp source-interface GigabitEthernet0
ip nat inside source list NAT interface GigabitEthernet0/0/0 overload
ip route vrf Mgmt-intf 0.0.0.0 0.0.0.0 10.51.160.1
ip tacacs source-interface GigabitEthernet0 
ip ssh rsa keypair-name SSH-KEY
ip ssh version 2
ip ssh server algorithm encryption aes256-ctr aes256-cbc
ip ssh server algorithm authentication keyboard password
!
!
ip access-list standard NAT
 10 permit 100.100.70.0 0.0.0.255
ip access-list standard NTPServers-Allow-Trusted
 10 permit 10.123.49.10
 20 permit 10.18.126.242
 30 permit 10.124.117.101
 40 permit 10.124.117.201
 50 permit 10.17.101.101
 60 permit 10.17.101.201
 70 deny   any
ip access-list standard NTPServers-Block-All
 10 deny   any
ip access-list standard SNMP_AirDefense_RW
 10 permit 10.18.90.31
 20 permit 10.18.90.32
 30 permit 10.18.90.33
 40 deny   any log
ip access-list standard SNMP_ECETools_RO
 10 permit 10.123.48.0 0.0.1.255
 20 permit 10.18.2.0 0.0.1.255
 30 permit 198.187.97.0 0.0.0.127
 40 permit 167.69.200.0 0.0.1.255
 50 permit 204.99.37.30
 60 deny   any log
ip access-list standard SNMP_ECETools_RW
 10 permit 10.123.48.0 0.0.1.255
 20 permit 10.18.2.0 0.0.1.255
 30 permit 198.187.97.0 0.0.0.127
 40 permit 167.69.200.0 0.0.1.255
 50 permit 204.99.37.30
 60 deny   any log
ip access-list standard SNMP_Forescout_RW
 10 remark Retail Forescout
 10 permit 10.18.106.102
 20 permit 10.18.106.117
 30 permit 10.18.107.11
 40 permit 10.18.107.49
 50 permit 10.18.109.251
 60 permit 10.18.109.252
 70 deny   any log
ip access-list standard SNMP_Qualys
 10 permit 10.228.124.20
 20 permit 10.228.124.19
 30 permit 10.228.124.18
 40 permit 10.228.124.17
 50 permit 10.228.124.16
 60 permit 10.228.124.15
 70 permit 10.228.124.14
 80 permit 10.228.124.13
 90 permit 10.228.124.12
 100 permit 10.228.124.11
 110 permit 10.18.119.185
 120 permit 10.18.119.184
 130 permit 10.18.119.183
 140 permit 10.18.119.181
 150 permit 10.18.119.180
 160 permit 10.18.119.178
 170 permit 10.18.119.176
 180 permit 10.18.119.174
 190 permit 10.18.119.169
 200 permit 10.18.119.142
 210 deny   any log
ip access-list standard SNMP_ServiceNow
 10 permit 157.121.20.139
 20 permit 167.69.182.239
 30 permit 157.121.21.120
 40 permit 167.69.246.83
 50 permit 10.40.245.48
 60 permit 10.40.245.49
 70 deny   any
ip access-list standard SNMP_SolarWinds
 10 permit 10.123.48.0 0.0.1.255
 20 permit 10.18.2.0 0.0.1.255
 30 permit 198.187.97.0 0.0.0.127
 40 permit 204.99.37.30
 50 deny   any log
!
ip access-list extended CVS-VirtualTerminal
 10 remark PBM Jump Servers
 10 permit tcp host 10.123.48.141 any eq 22
 20 permit tcp host 10.123.48.142 any eq 22
 30 permit tcp host 10.123.49.75 any eq 22
 40 permit tcp host 204.99.37.30 any eq 22
 50 remark Retail Jump Servers
 50 permit tcp host 10.18.2.141 any eq 22
 60 permit tcp host 10.18.3.71 any eq 22
 70 remark HCB Jump Servers
 70 permit tcp 10.112.220.0 0.0.1.255 any eq 22
 80 permit tcp 10.116.160.0 0.0.7.255 any eq 22
 90 remark Tools VLANs
 90 permit tcp 10.123.48.0 0.0.1.255 any eq 22
 100 permit tcp 10.18.2.0 0.0.1.255 any eq 22
 110 permit tcp 10.81.69.0 0.0.0.255 any eq 22
 120 remark RTL Only - Omnicare NAT
 120 permit tcp 198.187.97.0 0.0.0.127 any eq 22
 130 remark Retail Forescout
 130 permit tcp host 10.18.106.102 any eq 22
 140 permit tcp host 10.18.106.117 any eq 22
 150 permit tcp host 10.18.107.11 any eq 22
 160 permit tcp host 10.18.107.49 any eq 22
 170 permit tcp host 10.18.109.251 any eq 22
 180 permit tcp host 10.18.109.252 any eq 22
 190 remark Tufin - Azure
 190 permit tcp 10.85.80.32 0.0.0.31 any eq 22
 200 permit tcp 10.85.105.0 0.0.0.31 any eq 22
 210 permit tcp 10.85.214.96 0.0.0.31 any eq 22
 220 permit tcp 10.85.8.224 0.0.0.31 any eq 22
 230 permit tcp 10.85.144.32 0.0.0.31 any eq 22
 240 remark Tufin - OnPremise
 240 permit tcp 10.123.252.0 0.0.0.127 any eq 22
 250 permit tcp 10.220.191.0 0.0.0.127 any eq 22
 260 permit tcp 167.69.152.128 0.0.0.127 any eq 22
 270 permit tcp 157.121.152.128 0.0.0.127 any eq 22
 280 remark RI Engineering Meraki
 280 permit tcp 10.136.0.0 0.0.127.255 any eq 22
 290 remark AZ Engineering Meraki
 290 permit tcp 10.206.0.0 0.0.127.255 any eq 22
 300 remark CT Engineering Meraki
 300 permit tcp 10.96.0.0 0.0.127.255 any eq 22
 310 remark CT2 Engineering Meraki
 310 permit tcp 10.96.128.0 0.0.127.255 any eq 22
 320 deny   ip any any
!
logging origin-id hostname
logging source-interface Loopback0
logging host 10.10.109.73
logging host 10.18.119.81
logging host 10.6.74.165
!
snmp-server group Qualys v3 priv read View_Qualys 
snmp-server group ServiceNow v3 priv read View_ServiceNow 
snmp-server group SolarWinds v3 priv read View_SolarWinds 
snmp-server view View_Qualys iso included
snmp-server view View_ServiceNow iso included
snmp-server view View_SolarWinds iso included
snmp-server community t3l3c0m_d*t* RO SNMP_ECETools_RO
snmp-server community MLg5d4LNrL09etKw RW SNMP_ECETools_RW
snmp-server community #Forescin!142100 RW SNMP_Forescout_RW
snmp-server community GZf86JBceliyBy6Y1FOwCP7cruszIG RO SNMP_AirDefense_RO
snmp-server location 100 Scenic View Drive, Cumberland, RI, 02864 () () (Not PCI) (Retail Corp) ( |)
snmp-server contact CRC 12.H.RI
snmp-server enable traps snmp authentication linkdown linkup coldstart warmstart
snmp-server enable traps vrrp
snmp-server enable traps pfr
snmp-server enable traps flowmon
snmp-server enable traps ds1
snmp-server enable traps entity-perf throughput-notif
snmp-server enable traps sdwan omp system policy security
snmp-server enable traps ds3
snmp-server enable traps call-home message-send-fail server-fail
snmp-server enable traps tty
snmp-server enable traps eigrp
snmp-server enable traps ospf state-change
snmp-server enable traps ospf errors
snmp-server enable traps ospf retransmit
snmp-server enable traps ospf lsa
snmp-server enable traps ospf cisco-specific state-change nssa-trans-change
snmp-server enable traps ospf cisco-specific state-change shamlink interface
snmp-server enable traps ospf cisco-specific state-change shamlink neighbor
snmp-server enable traps ospf cisco-specific errors
snmp-server enable traps ospf cisco-specific retransmit
snmp-server enable traps ospf cisco-specific lsa
snmp-server enable traps casa
snmp-server enable traps license
snmp-server enable traps smart-license
snmp-server enable traps cef resource-failure peer-state-change peer-fib-state-change inconsistency
snmp-server enable traps memory bufferpeak
snmp-server enable traps config-copy
snmp-server enable traps config
snmp-server enable traps config-ctid
snmp-server enable traps dhcp
snmp-server enable traps fru-ctrl
snmp-server enable traps entity
snmp-server enable traps event-manager
snmp-server enable traps frame-relay
snmp-server enable traps frame-relay subif
snmp-server enable traps hsrp
snmp-server enable traps pimstdmib neighbor-loss invalid-register invalid-join-prune rp-mapping-change interface-election
snmp-server enable traps ipmulticast
snmp-server enable traps isis
snmp-server enable traps ip local pool
snmp-server enable traps msdp
snmp-server enable traps mvpn
snmp-server enable traps ospfv3 state-change
snmp-server enable traps ospfv3 errors
snmp-server enable traps pim neighbor-change rp-mapping-change invalid-pim-message
snmp-server enable traps pppoe
snmp-server enable traps cpu threshold
snmp-server enable traps rsvp
snmp-server enable traps syslog
snmp-server enable traps l2tun session
snmp-server enable traps l2tun pseudowire status
snmp-server enable traps aaa_server
snmp-server enable traps atm subif
snmp-server enable traps pki
snmp-server enable traps ethernet evc status create delete
snmp-server enable traps ether-oam
snmp-server enable traps ethernet cfm cc mep-up mep-down cross-connect loop config
snmp-server enable traps ethernet cfm crosscheck mep-missing mep-unknown service-up
snmp-server enable traps entity-state
snmp-server enable traps entity-qfp mem-res-thresh throughput-notif
snmp-server enable traps adslline
snmp-server enable traps vdsl2line
snmp-server enable traps entity-sensor
snmp-server enable traps flash insertion removal lowspace
snmp-server enable traps srp
snmp-server enable traps entity-diag boot-up-fail hm-test-recover hm-thresh-reached scheduled-test-fail
snmp-server enable traps isdn call-information
snmp-server enable traps isdn layer2
snmp-server enable traps isdn chan-not-avail
snmp-server enable traps isdn ietf
snmp-server enable traps cnpd
snmp-server enable traps bfd
snmp-server enable traps bgp cbgp2
snmp-server enable traps nhrp nhs
snmp-server enable traps nhrp nhc
snmp-server enable traps nhrp nhp
snmp-server enable traps nhrp quota-exceeded
snmp-server enable traps ipsla
snmp-server enable traps stpx inconsistency root-inconsistency loop-inconsistency
snmp-server enable traps c3g
snmp-server enable traps LTE
snmp-server enable traps vtp
snmp-server enable traps vlancreate
snmp-server enable traps vlandelete
snmp-server enable traps bridge newroot topologychange
snmp-server enable traps port-security
snmp-server enable traps auth-framework sec-violation
snmp-server enable traps bulkstat collection transfer
snmp-server enable traps alarms informational
snmp-server enable traps vrfmib vrf-up vrf-down vnet-trunk-up vnet-trunk-down
snmp-server enable traps ethernet cfm alarm
snmp-server enable traps rf
snmp-server enable traps transceiver all
snmp-server host 10.18.106.117 version 2c #Forescin!142100mac-notification  snmp
snmp-server host 10.18.40.116 CvsRO 
snmp ifmib ifalias long
snmp ifmib ifindex persist
!
tacacs server CVSHealth-ISE-AZ-1
 address ipv4 10.123.240.25
 key 7 062C2F2C4E6E230C0C14174A5E57
tacacs server CVSHealth-ISE-AZ-2
 address ipv4 10.123.240.26
 key 7 143D32060E24003E2D2B36747040
tacacs server CVSHealth-ISE-RI-1
 address ipv4 10.18.40.223
 key 7 032E7B06042F0B59470A1C444541
tacacs server CVSHealth-ISE-RI-2
 address ipv4 10.18.40.224
 key 7 022C245609262534454D0C585744
!
!
!
control-plane
!
banner exec ^C
------------------< CRC 12.H.RI >-------------------
^C
banner login ^C
  ______     ______    _   _            _ _   _     
 / ___\ \   / / ___|  | | | | ___  __ _| | |_| |__  
| |    \ \ / /\___ \  | |_| |/ _ \/ _` | | __| '_ \ 
| |___  \ V /  ___) | |  _  |  __/ (_| | | |_| | | |
 \____|  \_/  |____/  |_| |_|\___|\__,_|_|\__|_| |_| 
-------------= Enterprise Data Network =------------
         WARNING: Login attempts are audited.
       Access is only for authorized purposes.
            Offenders will be prosecuted!
----------------------------------------------------
^C
alias configure AddKey crypto key generate rsa mod 2048 label SSH-Server-Key
alias exec LoadGold copy ftp://CiscoCode:ButterCream$4@167.69.200.22/CVS-GoldTemplate-RTL-IOS16 running-config
!
line con 0
 session-timeout 15 
 exec-timeout 15 0
 logging synchronous
 stopbits 1
line aux 0
line vty 0 4
 session-timeout 15 
 access-class CVS-VirtualTerminal in vrf-also
 exec-timeout 15 0
 logging synchronous
 transport input ssh
 transport output ssh
line vty 5 31
 session-timeout 15 
 access-class CVS-VirtualTerminal in vrf-also
 exec-timeout 15 0
 logging synchronous
 transport input ssh
 transport output ssh
!
call-home
 ! If contact email address in call-home is configured as sch-smart-licensing@cisco.com
 ! the email address configured in Cisco Smart License Portal will be used as contact email address to send SCH notifications.
 contact-email-addr sch-smart-licensing@cisco.com
 profile "CiscoTAC-1"
  active
  destination transport-method http
ntp access-group peer NTPServers-Allow-Trusted
ntp access-group serve NTPServers-Block-All
ntp access-group serve-only NTPServers-Block-All
ntp access-group query-only NTPServers-Block-All
ntp server 10.124.117.201
ntp server 10.17.101.201
ntp server 10.123.49.10
ntp server 10.18.126.242
ntp server 10.124.117.101
ntp server 10.17.101.101
!
!
!
!
!
!
end