!
! Last configuration change at 06:16:14 UTC Fri Mar 6 2026 by z350553@rx
! NVRAM config last updated at 06:16:15 UTC Fri Mar 6 2026 by z350553@rx
!
version 17.9
service nagle
service tcp-keepalives-in
service tcp-keepalives-out
service timestamps debug datetime msec localtime show-timezone
service timestamps log datetime msec localtime show-timezone
service password-encryption
service sequence-numbers
service call-home
platform punt-keepalive disable-kernel-core
!
hostname rricrcp-dis-121101-rack9
!
!
vrf definition Mgmt-vrf
 !
 address-family ipv4
 exit-address-family
 !
 address-family ipv6
 exit-address-family
!
logging count
logging buffered 262144
no logging console
aaa new-model
!
!
aaa group server tacacs+ CVSHealth-ISE
 server name CVSHealth-ISE-RI-1
 server name CVSHealth-ISE-RI-2
 server name CVSHealth-ISE-AZ-1
 server name CVSHealth-ISE-AZ-2
 ip vrf forwarding Mgmt-vrf
!
aaa authentication password-prompt "Local Password:"
aaa authentication username-prompt "Local Username:"
aaa authentication login default group CVSHealth-ISE local
aaa authentication enable default group CVSHealth-ISE enable
aaa authorization console
aaa authorization config-commands
aaa authorization exec default group CVSHealth-ISE local 
aaa authorization commands 15 default group CVSHealth-ISE none 
aaa accounting exec default stop-only group CVSHealth-ISE
aaa accounting commands 15 default stop-only group CVSHealth-ISE
!
!
aaa session-id common
switch 1 provision c9300-48u
!
!
!
!
!
!
!
!
!
ip name-server 10.228.144.15 10.228.144.20
ip domain name cvshealth.com
ip dhcp excluded-address 100.100.90.1 100.100.90.9
!
ip dhcp pool LABS
 network 100.100.90.0 255.255.255.0
 default-router 100.100.90.1 
!
!
!
no login on-success log
vtp version 1
!
!
!
!
!
!
!
!
!
crypto pki trustpoint TP-self-signed-77068269
 enrollment selfsigned
 subject-name cn=IOS-Self-Signed-Certificate-77068269
 revocation-check none
 rsakeypair TP-self-signed-77068269
 hash sha256
!
crypto pki trustpoint SLA-TrustPoint
 enrollment pkcs12
 revocation-check crl
 hash sha256
!
!
crypto pki certificate chain TP-self-signed-77068269
 certificate self-signed 01
  3082032C 30820214 A0030201 02020101 300D0609 2A864886 F70D0101 0B050030 
  2F312D30 2B060355 04030C24 494F532D 53656C66 2D536967 6E65642D 43657274 
  69666963 6174652D 37373036 38323639 301E170D 32353031 32313138 32323332 
  5A170D33 35303132 31313832 3233325A 302F312D 302B0603 5504030C 24494F53 
  2D53656C 662D5369 676E6564 2D436572 74696669 63617465 2D373730 36383236 
  39308201 22300D06 092A8648 86F70D01 01010500 0382010F 00308201 0A028201 
  0100D46D 64A2DF65 3420FE52 C2E84B80 2927CBEA 25BB859D 52856090 BF525CFF 
  64CB4BA9 C18B8837 33AB7CAA 7B7BE604 1560C735 64622BC1 A42A234F 2F38F9AA 
  0A1896E6 DC284AEC 2E246C6F F0984DC2 7365CF38 A4163AD1 0F341CF1 6AF8A59E 
  191369F7 846D0A0A 04C31836 BA74A786 BB967670 73F02743 7A5EBC7D 9363BEA0 
  1BC1F92F 73511FDA 54560CFE 5247BFD0 4179B458 B1601C84 460CE79B CD134C4C 
  BF4353FB C2086D67 D2910CA8 50335F43 F67C91D4 B1F813A2 FD3E17B9 722D1794 
  D63D44D4 56A6C767 83AF0DFC 8A53862F 8793151B 38328DAE 73667B77 6473C454 
  3B1D9EB9 1622445A 86D13E18 FEF933D8 D2451C6C 75994799 7F66BDE9 6B45FBB4 
  B3210203 010001A3 53305130 1D060355 1D0E0416 04148C88 E073A697 946626DB 
  C157B352 A81E2BD4 68C9301F 0603551D 23041830 1680148C 88E073A6 97946626 
  DBC157B3 52A81E2B D468C930 0F060355 1D130101 FF040530 030101FF 300D0609 
  2A864886 F70D0101 0B050003 82010100 104BB6F8 80A62EED B4FDBF54 FE2EA979 
  B489A176 0E96E37F D714FEC0 5C654281 A618FBC8 577AB5C5 E78642CF 08E6FA38 
  F778E5D6 24B9A6FC 96EC17FC A4A2D152 94C4CFC6 1BD2A3A2 57D54BDA E4C19ECE 
  22C26286 534A8303 BA60B58B CDE734BE 8F2F58EE ED7C2B45 D3A0DCB0 10E515EA 
  7926DF08 64502E65 292027FB 43949EA0 C6657A6F 3B507DAD DDB2EE8C EBAA30C7 
  18621EEA 2EDD433D 67FC6C39 F15DB4BF DEE5587E 8EACF0DA 005B5FA7 E22C6BE6 
  ECF0D6BC 1A66C295 435400D8 41F24E38 28B75EE5 3F819658 732DE7E7 003B3104 
  E1257F91 B94C92A7 DC7BB96D 89DA5C95 8C92D500 3CA3E668 CFA28C4C 465077C9 
  F28D2C63 B8A9EE63 A588AF59 FED1DBF6
  	quit
crypto pki certificate chain SLA-TrustPoint
 certificate ca 01
  30820321 30820209 A0030201 02020101 300D0609 2A864886 F70D0101 0B050030 
  32310E30 0C060355 040A1305 43697363 6F312030 1E060355 04031317 43697363 
  6F204C69 63656E73 696E6720 526F6F74 20434130 1E170D31 33303533 30313934 
  3834375A 170D3338 30353330 31393438 34375A30 32310E30 0C060355 040A1305 
  43697363 6F312030 1E060355 04031317 43697363 6F204C69 63656E73 696E6720 
  526F6F74 20434130 82012230 0D06092A 864886F7 0D010101 05000382 010F0030 
  82010A02 82010100 A6BCBD96 131E05F7 145EA72C 2CD686E6 17222EA1 F1EFF64D 
  CBB4C798 212AA147 C655D8D7 9471380D 8711441E 1AAF071A 9CAE6388 8A38E520 
  1C394D78 462EF239 C659F715 B98C0A59 5BBB5CBD 0CFEBEA3 700A8BF7 D8F256EE 
  4AA4E80D DB6FD1C9 60B1FD18 FFC69C96 6FA68957 A2617DE7 104FDC5F EA2956AC 
  7390A3EB 2B5436AD C847A2C5 DAB553EB 69A9A535 58E9F3E3 C0BD23CF 58BD7188 
  68E69491 20F320E7 948E71D7 AE3BCC84 F10684C7 4BC8E00F 539BA42B 42C68BB7 
  C7479096 B4CB2D62 EA2F505D C7B062A4 6811D95B E8250FC4 5D5D5FB8 8F27D191 
  C55F0D76 61F9A4CD 3D992327 A8BB03BD 4E6D7069 7CBADF8B DF5F4368 95135E44 
  DFC7C6CF 04DD7FD1 02030100 01A34230 40300E06 03551D0F 0101FF04 04030201 
  06300F06 03551D13 0101FF04 05300301 01FF301D 0603551D 0E041604 1449DC85 
  4B3D31E5 1B3E6A17 606AF333 3D3B4C73 E8300D06 092A8648 86F70D01 010B0500 
  03820101 00507F24 D3932A66 86025D9F E838AE5C 6D4DF6B0 49631C78 240DA905 
  604EDCDE FF4FED2B 77FC460E CD636FDB DD44681E 3A5673AB 9093D3B1 6C9E3D8B 
  D98987BF E40CBD9E 1AECA0C2 2189BB5C 8FA85686 CD98B646 5575B146 8DFC66A8 
  467A3DF4 4D565700 6ADF0F0D CF835015 3C04FF7C 21E878AC 11BA9CD2 55A9232C 
  7CA7B7E6 C1AF74F6 152E99B7 B1FCF9BB E973DE7F 5BDDEB86 C71E3B49 1765308B 
  5FB0DA06 B92AFE7F 494E8A9E 07B85737 F3A58BE1 1A48A229 C37C1E69 39F08678 
  80DDCD16 D6BACECA EEBC7CF9 8428787B 35202CDC 60E4616A B623CDBD 230E3AFB 
  418616A9 4093E049 4D10AB75 27E86F73 932E35B5 8862FDAE 0275156F 719BB2F0 
  D697DF7F 28
  	quit
!
!
license boot level network-advantage addon dna-advantage
archive
 log config
  logging enable
  notify syslog contenttype plaintext
memory free low-watermark processor 130136
!
diagnostic bootup level minimal
!
spanning-tree mode rapid-pvst
spanning-tree extend system-id
!
!
!
enable secret 9 $9$Ik1hpFvWJSstLU$mDqtNKqkITeVIVZwtMWYxpT.eg6lVXGS8TSmdaXwoY.
!
username telecom privilege 15 secret 9 $14$n.q3$NhZpibMxu233P.$SJHuZ13PNFSeTYFR0xbXTar1Hds.oeJfdMwHxIKBFlU
username ciscoworks privilege 15 secret 9 $14$i6Iy$qRZ3BeIuZIisfU$4AGPhpgjwGzd5IMTowemnFebtGRO7v1IhT9a3Q.BiwI
username CiscoAdmin privilege 15 secret 9 $9$uaW/6rLigC9JEU$ujFtyEYRJiJWHHSvbrj4feRPpF2zufDbR7FP90G9V0Q
username CiscoSuperAdmin privilege 15 secret 9 $9$VHbgHOOiRtPVCE$y6gDJVRp6m6WA2A3xZHnLrNZFOcJDheBXND0Y9ieTC2
!
redundancy
 mode sso
crypto engine compliance shield disable
!
!
!
!
!
transceiver type all
 monitoring
!
lldp run
!
class-map match-any system-cpp-police-ewlc-control
  description EWLC Control 
class-map match-any system-cpp-police-topology-control
  description Topology control
class-map match-any system-cpp-police-sw-forward
  description Sw forwarding, L2 LVX data packets, LOGGING, Transit Traffic
class-map match-any system-cpp-default
  description EWLC Data, Inter FED Traffic 
class-map match-any system-cpp-police-sys-data
  description Openflow, Exception, EGR Exception, NFL Sampled Data, RPF Failed
class-map match-any system-cpp-police-punt-webauth
  description Punt Webauth
class-map match-any system-cpp-police-l2lvx-control
  description L2 LVX control packets
class-map match-any system-cpp-police-forus
  description Forus Address resolution and Forus traffic
class-map match-any system-cpp-police-multicast-end-station
  description MCAST END STATION
class-map match-any system-cpp-police-high-rate-app
  description High Rate Applications 
class-map match-any system-cpp-police-multicast
  description MCAST Data
class-map match-any system-cpp-police-l2-control
  description L2 control
class-map match-any system-cpp-police-dot1x-auth
  description DOT1X Auth
class-map match-any system-cpp-police-data
  description ICMP redirect, ICMP_GEN and BROADCAST
class-map match-any system-cpp-police-stackwise-virt-control
  description Stackwise Virtual OOB
class-map match-any non-client-nrt-class
class-map match-any system-cpp-police-routing-control
  description Routing control and Low Latency
class-map match-any system-cpp-police-protocol-snooping
  description Protocol snooping
class-map match-any system-cpp-police-dhcp-snooping
  description DHCP snooping
class-map match-any system-cpp-police-ios-routing
  description L2 control, Topology control, Routing control, Low Latency
class-map match-any system-cpp-police-system-critical
  description System Critical and Gold Pkt
class-map match-any system-cpp-police-ios-feature
  description ICMPGEN,BROADCAST,ICMP,L2LVXCntrl,ProtoSnoop,PuntWebauth,MCASTData,Transit,DOT1XAuth,Swfwd,LOGGING,L2LVXData,ForusTraffic,ForusARP,McastEndStn,Openflow,Exception,EGRExcption,NflSampled,RpfFailed
!
policy-map system-cpp-policy
!
! 
!
!
!
!
!
!
!
!
!
!
interface Loopback0
 no ip address
!
interface GigabitEthernet0/0
 description uplink to rricrcp-acc-mdf-01:Gig5/0/21
 vrf forwarding Mgmt-vrf
 ip address 10.51.160.15 255.255.254.0
 negotiation auto
!
interface GigabitEthernet1/0/1
 description uplink to rricrcp-wanmpls-121101-rack9:Gig0/0/1
 switchport access vlan 90
 switchport mode access
!
interface GigabitEthernet1/0/2
 switchport access vlan 100
 switchport mode access
!
interface GigabitEthernet1/0/3
 description 68709 Backup
 switchport access vlan 90
 switchport mode access
!
interface GigabitEthernet1/0/4
 description 68710 Backup
 switchport access vlan 90
 switchport mode access
!
interface GigabitEthernet1/0/5
 description 68711 Backup
 switchport access vlan 90
 switchport mode access
!
interface GigabitEthernet1/0/6
 description 68712 Backup
 switchport access vlan 90
 switchport mode access
!
interface GigabitEthernet1/0/7
 description 68721 Backup
 switchport access vlan 90
 switchport mode access
!
interface GigabitEthernet1/0/8
 description 68722 Backup
 switchport access vlan 90
 switchport mode access
!
interface GigabitEthernet1/0/9
 description 68723 Backup
 switchport access vlan 90
 switchport mode access
!
interface GigabitEthernet1/0/10
 description 68739 Backup
 switchport access vlan 90
 switchport mode access
!
interface GigabitEthernet1/0/11
 description 68740 Backup
 switchport access vlan 90
 switchport mode access
!
interface GigabitEthernet1/0/12
 description 68735 Backup
 switchport access vlan 90
 switchport mode access
!
interface GigabitEthernet1/0/13
 description 68747 Backup
 switchport access vlan 90
 switchport mode access
!
interface GigabitEthernet1/0/14
 description 68748 Backup
 switchport access vlan 90
 switchport mode access
!
interface GigabitEthernet1/0/15
 switchport access vlan 90
 switchport mode access
!
interface GigabitEthernet1/0/16
 switchport access vlan 90
 switchport mode access
!
interface GigabitEthernet1/0/17
 switchport access vlan 90
 switchport mode access
!
interface GigabitEthernet1/0/18
 switchport access vlan 90
 switchport mode access
!
interface GigabitEthernet1/0/19
 switchport access vlan 90
 switchport mode access
!
interface GigabitEthernet1/0/20
 switchport access vlan 90
 switchport mode access
!
interface GigabitEthernet1/0/21
 switchport access vlan 90
 switchport mode access
!
interface GigabitEthernet1/0/22
 switchport access vlan 90
 switchport mode access
!
interface GigabitEthernet1/0/23
 switchport access vlan 90
 switchport mode access
!
interface GigabitEthernet1/0/24
 switchport access vlan 90
 switchport mode access
!
interface GigabitEthernet1/0/25
 switchport access vlan 90
 switchport mode access
!
interface GigabitEthernet1/0/26
 switchport access vlan 90
 switchport mode access
!
interface GigabitEthernet1/0/27
 switchport access vlan 90
 switchport mode access
!
interface GigabitEthernet1/0/28
 switchport access vlan 90
 switchport mode access
!
interface GigabitEthernet1/0/29
 switchport access vlan 90
 switchport mode access
!
interface GigabitEthernet1/0/30
 switchport access vlan 90
 switchport mode access
!
interface GigabitEthernet1/0/31
 switchport access vlan 90
 switchport mode access
!
interface GigabitEthernet1/0/32
 switchport access vlan 90
 switchport mode access
!
interface GigabitEthernet1/0/33
 switchport access vlan 90
 switchport mode access
!
interface GigabitEthernet1/0/34
 switchport access vlan 90
 switchport mode access
!
interface GigabitEthernet1/0/35
 switchport access vlan 90
 switchport mode access
!
interface GigabitEthernet1/0/36
 switchport access vlan 90
 switchport mode access
!
interface GigabitEthernet1/0/37
 description 68745 Primary
 switchport access vlan 90
 switchport mode access
!
interface GigabitEthernet1/0/38
 description 68744 Primary
 switchport access vlan 90
 switchport mode access
!
interface GigabitEthernet1/0/39
 description 68746 Primary
 switchport access vlan 90
 switchport mode access
!
interface GigabitEthernet1/0/40
 description 68741 Primary
 switchport access vlan 90
 switchport mode access
!
interface GigabitEthernet1/0/41
 description 68742 Primary
 switchport access vlan 90
 switchport mode access
!
interface GigabitEthernet1/0/42
 description 68733 Primary
 switchport access vlan 90
 switchport mode access
!
interface GigabitEthernet1/0/43
 description 68734 Primary
 switchport access vlan 90
 switchport mode access
!
interface GigabitEthernet1/0/44
 switchport access vlan 90
 switchport mode access
!
interface GigabitEthernet1/0/45
 description 68736 Primary
 switchport access vlan 90
 switchport mode access
!
interface GigabitEthernet1/0/46
 description 68737 Primary
 switchport access vlan 90
 switchport mode access
!
interface GigabitEthernet1/0/47
 description 68743 Primary
 switchport access vlan 90
 switchport mode access
!
interface GigabitEthernet1/0/48
 switchport access vlan 90
 switchport mode access
!
interface GigabitEthernet1/1/1
!
interface GigabitEthernet1/1/2
!
interface GigabitEthernet1/1/3
!
interface GigabitEthernet1/1/4
!
interface TenGigabitEthernet1/1/1
!
interface TenGigabitEthernet1/1/2
!
interface TenGigabitEthernet1/1/3
!
interface TenGigabitEthernet1/1/4
!
interface TenGigabitEthernet1/1/5
!
interface TenGigabitEthernet1/1/6
!
interface TenGigabitEthernet1/1/7
!
interface TenGigabitEthernet1/1/8
!
interface FortyGigabitEthernet1/1/1
!
interface FortyGigabitEthernet1/1/2
!
interface TwentyFiveGigE1/1/1
!
interface TwentyFiveGigE1/1/2
!
interface AppGigabitEthernet1/0/1
!
interface Vlan1
 no ip address
!
interface Vlan90
 ip address 100.100.90.2 255.255.255.0
!
ip forward-protocol nd
no ip forward-protocol udp netbios-ns
no ip forward-protocol udp netbios-dgm
no ip http server
ip http authentication local
no ip http secure-server
ip route 0.0.0.0 0.0.0.0 100.100.90.1
ip tacacs source-interface GigabitEthernet0/0 
ip ssh bulk-mode 131072
ip ssh rsa keypair-name SSH-KEY
ip ssh version 2
ip ssh server algorithm encryption aes256-ctr aes256-cbc
ip ssh server algorithm authentication keyboard password
!
!
ip access-list standard NTPServers-Allow-Trusted
 10 permit 10.123.49.10
 20 permit 10.18.126.242
 30 permit 10.124.117.101
 40 permit 10.124.117.201
 50 permit 10.17.101.101
 60 permit 10.17.101.201
 70 deny   any
ip access-list standard NTPServers-Block-All
 10 deny   any
ip access-list standard SNMP_AirDefense_RW
 10 permit 10.18.90.31
 20 permit 10.18.90.32
 30 permit 10.18.90.33
 40 deny   any log
ip access-list standard SNMP_ECETools_RO
 10 permit 10.123.48.0 0.0.1.255
 20 permit 10.18.2.0 0.0.1.255
 30 permit 198.187.97.0 0.0.0.127
 40 permit 167.69.200.0 0.0.1.255
 50 permit 204.99.37.30
 60 deny   any log
ip access-list standard SNMP_ECETools_RW
 10 permit 10.123.48.0 0.0.1.255
 20 permit 10.18.2.0 0.0.1.255
 30 permit 198.187.97.0 0.0.0.127
 40 permit 167.69.200.0 0.0.1.255
 50 permit 204.99.37.30
 60 deny   any log
ip access-list standard SNMP_Forescout_RW
 10 remark Retail Forescout
 10 permit 10.18.106.102
 20 permit 10.18.106.117
 30 permit 10.18.107.11
 40 permit 10.18.107.49
 50 permit 10.18.109.251
 60 permit 10.18.109.252
 70 deny   any log
ip access-list standard SNMP_Qualys
 10 permit 10.228.124.20
 20 permit 10.228.124.19
 30 permit 10.228.124.18
 40 permit 10.228.124.17
 50 permit 10.228.124.16
 60 permit 10.228.124.15
 70 permit 10.228.124.14
 80 permit 10.228.124.13
 90 permit 10.228.124.12
 100 permit 10.228.124.11
 110 permit 10.18.119.185
 120 permit 10.18.119.184
 130 permit 10.18.119.183
 140 permit 10.18.119.181
 150 permit 10.18.119.180
 160 permit 10.18.119.178
 170 permit 10.18.119.176
 180 permit 10.18.119.174
 190 permit 10.18.119.169
 200 permit 10.18.119.142
 210 deny   any log
ip access-list standard SNMP_ServiceNow
 10 permit 157.121.20.139
 20 permit 167.69.182.239
 30 permit 157.121.21.120
 40 permit 167.69.246.83
 50 permit 10.40.245.48
 60 permit 10.40.245.49
 70 deny   any
ip access-list standard SNMP_SolarWinds
 10 permit 10.123.48.0 0.0.1.255
 20 permit 10.18.2.0 0.0.1.255
 30 permit 198.187.97.0 0.0.0.127
 40 permit 204.99.37.30
 50 deny   any log
!
ip access-list extended CVS-VirtualTerminal
 10 remark PBM Jump Servers
 10 permit tcp host 10.123.48.141 any eq 22
 20 permit tcp host 10.123.48.142 any eq 22
 30 permit tcp host 10.123.49.75 any eq 22
 40 permit tcp host 204.99.37.30 any eq 22
 50 remark Retail Jump Servers
 50 permit tcp host 10.18.2.141 any eq 22
 60 permit tcp host 10.18.3.71 any eq 22
 70 remark HCB Jump Servers
 70 permit tcp 10.112.220.0 0.0.1.255 any eq 22
 80 permit tcp 10.116.160.0 0.0.7.255 any eq 22
 90 remark Tools VLANs
 90 permit tcp 10.123.48.0 0.0.1.255 any eq 22
 100 permit tcp 10.18.2.0 0.0.1.255 any eq 22
 110 permit tcp 10.81.69.0 0.0.0.255 any eq 22
 120 remark RTL Only - Omnicare NAT
 120 permit tcp 198.187.97.0 0.0.0.127 any eq 22
 130 remark Retail Forescout
 130 permit tcp host 10.18.106.102 any eq 22
 140 permit tcp host 10.18.106.117 any eq 22
 150 permit tcp host 10.18.107.11 any eq 22
 160 permit tcp host 10.18.107.49 any eq 22
 170 permit tcp host 10.18.109.251 any eq 22
 180 permit tcp host 10.18.109.252 any eq 22
 190 remark Tufin - Azure
 190 permit tcp 10.85.80.32 0.0.0.31 any eq 22
 200 permit tcp 10.85.105.0 0.0.0.31 any eq 22
 210 permit tcp 10.85.214.96 0.0.0.31 any eq 22
 220 permit tcp 10.85.8.224 0.0.0.31 any eq 22
 230 permit tcp 10.85.144.32 0.0.0.31 any eq 22
 240 remark Tufin - OnPremise
 240 permit tcp 10.123.252.0 0.0.0.127 any eq 22
 250 permit tcp 10.220.191.0 0.0.0.127 any eq 22
 260 permit tcp 167.69.152.128 0.0.0.127 any eq 22
 270 permit tcp 157.121.152.128 0.0.0.127 any eq 22
 280 remark RI Engineering Meraki
 280 permit tcp 10.136.0.0 0.0.127.255 any eq 22
 290 remark AZ Engineering Meraki
 290 permit tcp 10.206.0.0 0.0.127.255 any eq 22
 300 remark CT Engineering Meraki
 300 permit tcp 10.96.0.0 0.0.127.255 any eq 22
 310 remark CT2 Engineering Meraki
 310 permit tcp 10.96.128.0 0.0.127.255 any eq 22
 320 deny ip any any
!
logging origin-id hostname
logging source-interface Loopback0
logging host 10.10.109.73
logging host 10.18.119.81
logging host 10.6.74.165
!
snmp-server group Qualys v3 priv read View_Qualys 
snmp-server group ServiceNow v3 priv read View_ServiceNow 
snmp-server group SolarWinds v3 priv read View_SolarWinds 
snmp-server view View_Qualys iso included
snmp-server view View_ServiceNow iso included
snmp-server view View_SolarWinds iso included
snmp-server community t3l3c0m_d*t* RO SNMP_ECETools_RO
snmp-server community MLg5d4LNrL09etKw RW SNMP_ECETools_RW
snmp-server community #Forescin!142100 RW SNMP_Forescout_RW
snmp-server community GZf86JBceliyBy6Y1FOwCP7cruszIG RO SNMP_AirDefense_RO
snmp-server location 100 Scenic View Drive, Cumberland, RI, 02864 () () (Not PCI) (Retail Corp) ( |)
snmp-server contact CRC 12.H.RI
snmp-server enable traps snmp authentication linkdown linkup coldstart warmstart
snmp-server enable traps flowmon
snmp-server enable traps entity-perf throughput-notif
snmp-server enable traps call-home message-send-fail server-fail
snmp-server enable traps tty
snmp-server enable traps eigrp
snmp-server enable traps ospf state-change
snmp-server enable traps ospf errors
snmp-server enable traps ospf retransmit
snmp-server enable traps ospf lsa
snmp-server enable traps ospf cisco-specific state-change nssa-trans-change
snmp-server enable traps ospf cisco-specific state-change shamlink interface
snmp-server enable traps ospf cisco-specific state-change shamlink neighbor
snmp-server enable traps ospf cisco-specific errors
snmp-server enable traps ospf cisco-specific retransmit
snmp-server enable traps ospf cisco-specific lsa
snmp-server enable traps bfd
snmp-server enable traps license
snmp-server enable traps smart-license
snmp-server enable traps auth-framework sec-violation
snmp-server enable traps rep
snmp-server enable traps memory bufferpeak
snmp-server enable traps config-copy
snmp-server enable traps config
snmp-server enable traps config-ctid
snmp-server enable traps energywise
snmp-server enable traps fru-ctrl
snmp-server enable traps entity
snmp-server enable traps flash insertion removal lowspace
snmp-server enable traps power-ethernet group 1 threshold 80
snmp-server enable traps power-ethernet police
snmp-server enable traps cpu threshold
snmp-server enable traps syslog
snmp-server enable traps udld link-fail-rpt
snmp-server enable traps udld status-change
snmp-server enable traps vtp
snmp-server enable traps vlancreate
snmp-server enable traps vlandelete
snmp-server enable traps port-security
snmp-server enable traps envmon
snmp-server enable traps stackwise
snmp-server enable traps mvpn
snmp-server enable traps pw vc
snmp-server enable traps ipsla
snmp-server enable traps dhcp
snmp-server enable traps event-manager
snmp-server enable traps ike policy add
snmp-server enable traps ike policy delete
snmp-server enable traps ike tunnel start
snmp-server enable traps ike tunnel stop
snmp-server enable traps ipsec cryptomap add
snmp-server enable traps ipsec cryptomap delete
snmp-server enable traps ipsec cryptomap attach
snmp-server enable traps ipsec cryptomap detach
snmp-server enable traps ipsec tunnel start
snmp-server enable traps ipsec tunnel stop
snmp-server enable traps ipsec too-many-sas
snmp-server enable traps ospfv3 state-change
snmp-server enable traps ospfv3 errors
snmp-server enable traps ipmulticast
snmp-server enable traps msdp
snmp-server enable traps pim neighbor-change rp-mapping-change invalid-pim-message
snmp-server enable traps bridge newroot topologychange
snmp-server enable traps stpx inconsistency root-inconsistency loop-inconsistency
snmp-server enable traps bgp cbgp2
snmp-server enable traps hsrp
snmp-server enable traps isis
snmp-server enable traps cef resource-failure peer-state-change peer-fib-state-change inconsistency
snmp-server enable traps lisp
snmp-server enable traps nhrp nhs
snmp-server enable traps nhrp nhc
snmp-server enable traps nhrp nhp
snmp-server enable traps nhrp quota-exceeded
snmp-server enable traps local-auth
snmp-server enable traps entity-diag boot-up-fail hm-test-recover hm-thresh-reached scheduled-test-fail
snmp-server enable traps mpls rfc ldp
snmp-server enable traps mpls ldp
snmp-server enable traps mpls rfc traffic-eng
snmp-server enable traps mpls traffic-eng
snmp-server enable traps mpls fast-reroute protected
snmp-server enable traps bulkstat collection transfer
snmp-server enable traps mac-notification change move threshold
snmp-server enable traps errdisable
snmp-server enable traps vlan-membership
snmp-server enable traps transceiver all
snmp-server enable traps vrfmib vrf-up vrf-down vnet-trunk-up vnet-trunk-down
snmp-server enable traps rf
snmp-server enable traps mpls vpn
snmp-server enable traps mpls rfc vpn
snmp-server host 10.18.106.117 version 2c #Forescin!142100mac-notification  snmp
snmp-server host 10.18.40.116 CvsRO 
snmp ifmib ifalias long
snmp ifmib ifindex persist
tacacs server CVSHealth-ISE-AZ-1
 address ipv4 10.123.240.25
 key 7 1233251A102B2611232821696166
tacacs server CVSHealth-ISE-AZ-2
 address ipv4 10.123.240.26
 key 7 1233251A102B2611232821696166
tacacs server CVSHealth-ISE-RI-1
 address ipv4 10.18.40.223
 key 7 132F371F092C2E3F22272D726771
tacacs server CVSHealth-ISE-RI-2
 address ipv4 10.18.40.224
 key 7 1233251A102B2611232821696166
!
!
!
!
control-plane
 service-policy input system-cpp-policy
!
banner exec ^C
------------------< CRC 12.H.RI >-------------------
^C
banner login ^C
  ______     ______    _   _            _ _   _     
 / ___\ \   / / ___|  | | | | ___  __ _| | |_| |__  
| |    \ \ / /\___ \  | |_| |/ _ \/ _` | | __| '_ \ 
| |___  \ V /  ___) | |  _  |  __/ (_| | | |_| | | |
 \____|  \_/  |____/  |_| |_|\___|\__,_|_|\__|_| |_| 
-------------= Enterprise Data Network =------------
         WARNING: Login attempts are audited.
       Access is only for authorized purposes.
            Offenders will be prosecuted!
----------------------------------------------------
^C
alias configure AddKey crypto key generate rsa mod 2048 label SSH-Server-Key
alias exec LoadGold copy ftp://CiscoCode:ButterCream$4@167.69.200.22/CVS-GoldTemplate-RTL-IOS16 running-config
!
line con 0
 session-timeout 15 
 exec-timeout 15 0
 logging synchronous
 stopbits 1
line vty 0 4
 session-timeout 15 
 access-class CVS-VirtualTerminal in vrf-also
 exec-timeout 15 0
 logging synchronous
 transport input ssh
 transport output ssh
line vty 5 31
 session-timeout 15 
 access-class CVS-VirtualTerminal in vrf-also
 exec-timeout 15 0
 logging synchronous
 transport input ssh
 transport output ssh
!
call-home
 ! If contact email address in call-home is configured as sch-smart-licensing@cisco.com
 ! the email address configured in Cisco Smart License Portal will be used as contact email address to send SCH notifications.
 contact-email-addr sch-smart-licensing@cisco.com
 profile "CiscoTAC-1"
  active
  destination transport-method http
ntp access-group peer NTPServers-Allow-Trusted
ntp access-group serve NTPServers-Block-All
ntp access-group serve-only NTPServers-Block-All
ntp access-group query-only NTPServers-Block-All
ntp server 10.124.117.201
ntp server 10.17.101.201
ntp server 10.123.49.10
ntp server 10.18.126.242
ntp server 10.124.117.101
ntp server 10.17.101.101
!
!
!
!
!
!
end