!
! Last configuration change at 06:17:27 UTC Fri Mar 6 2026 by z350553@rx
! NVRAM config last updated at 03:16:00 UTC Mon Mar 9 2026 by causer1
!
version 17.9
service nagle
service tcp-keepalives-in
service tcp-keepalives-out
service timestamps debug datetime msec localtime show-timezone
service timestamps log datetime msec localtime show-timezone
service password-encryption
service sequence-numbers
service call-home
platform punt-keepalive disable-kernel-core
!
hostname rricrcp-1000eyes-mdf-01
!
!
vrf definition Mgmt-vrf
 !
 address-family ipv4
 exit-address-family
 !
 address-family ipv6
 exit-address-family
!
logging count
logging buffered 262144
no logging console
aaa new-model
!
!
aaa group server tacacs+ CVSHealth-ISE
 server name CVSHealth-ISE-RI-1
 server name CVSHealth-ISE-RI-2
 server name CVSHealth-ISE-AZ-1
 server name CVSHealth-ISE-AZ-2
!
aaa authentication password-prompt "Enter Local Password:"
aaa authentication username-prompt "Enter Local Username:"
aaa authentication login default group CVSHealth-ISE local
aaa authentication enable default group CVSHealth-ISE enable
aaa authorization console
aaa authorization config-commands
aaa authorization exec default group CVSHealth-ISE local 
aaa authorization commands 15 default group CVSHealth-ISE none 
aaa accounting exec default stop-only group CVSHealth-ISE
aaa accounting commands 15 default stop-only group CVSHealth-ISE
!
!
aaa session-id common
boot system switch all flash:cat9k_iosxe.17.09.05.SPA.conf
switch 1 provision c9300-24u
!
!
!
!
ip routing
!
!
!
!
!
ip name-server 10.228.144.15 10.228.144.20
ip domain name cvshealth.com
!
!
!
login block-for 60 attempts 5 within 60
login delay 5
login on-failure log every 2
login on-success log
vtp version 1
!
!
!
!
!
!
!
!
!
crypto pki trustpoint SLA-TrustPoint
 enrollment pkcs12
 revocation-check crl
!
crypto pki trustpoint TP-self-signed-925719354
 enrollment selfsigned
 subject-name cn=IOS-Self-Signed-Certificate-925719354
 revocation-check none
 rsakeypair TP-self-signed-925719354
!
!
crypto pki certificate chain SLA-TrustPoint
 certificate ca 01
  30820321 30820209 A0030201 02020101 300D0609 2A864886 F70D0101 0B050030 
  32310E30 0C060355 040A1305 43697363 6F312030 1E060355 04031317 43697363 
  6F204C69 63656E73 696E6720 526F6F74 20434130 1E170D31 33303533 30313934 
  3834375A 170D3338 30353330 31393438 34375A30 32310E30 0C060355 040A1305 
  43697363 6F312030 1E060355 04031317 43697363 6F204C69 63656E73 696E6720 
  526F6F74 20434130 82012230 0D06092A 864886F7 0D010101 05000382 010F0030 
  82010A02 82010100 A6BCBD96 131E05F7 145EA72C 2CD686E6 17222EA1 F1EFF64D 
  CBB4C798 212AA147 C655D8D7 9471380D 8711441E 1AAF071A 9CAE6388 8A38E520 
  1C394D78 462EF239 C659F715 B98C0A59 5BBB5CBD 0CFEBEA3 700A8BF7 D8F256EE 
  4AA4E80D DB6FD1C9 60B1FD18 FFC69C96 6FA68957 A2617DE7 104FDC5F EA2956AC 
  7390A3EB 2B5436AD C847A2C5 DAB553EB 69A9A535 58E9F3E3 C0BD23CF 58BD7188 
  68E69491 20F320E7 948E71D7 AE3BCC84 F10684C7 4BC8E00F 539BA42B 42C68BB7 
  C7479096 B4CB2D62 EA2F505D C7B062A4 6811D95B E8250FC4 5D5D5FB8 8F27D191 
  C55F0D76 61F9A4CD 3D992327 A8BB03BD 4E6D7069 7CBADF8B DF5F4368 95135E44 
  DFC7C6CF 04DD7FD1 02030100 01A34230 40300E06 03551D0F 0101FF04 04030201 
  06300F06 03551D13 0101FF04 05300301 01FF301D 0603551D 0E041604 1449DC85 
  4B3D31E5 1B3E6A17 606AF333 3D3B4C73 E8300D06 092A8648 86F70D01 010B0500 
  03820101 00507F24 D3932A66 86025D9F E838AE5C 6D4DF6B0 49631C78 240DA905 
  604EDCDE FF4FED2B 77FC460E CD636FDB DD44681E 3A5673AB 9093D3B1 6C9E3D8B 
  D98987BF E40CBD9E 1AECA0C2 2189BB5C 8FA85686 CD98B646 5575B146 8DFC66A8 
  467A3DF4 4D565700 6ADF0F0D CF835015 3C04FF7C 21E878AC 11BA9CD2 55A9232C 
  7CA7B7E6 C1AF74F6 152E99B7 B1FCF9BB E973DE7F 5BDDEB86 C71E3B49 1765308B 
  5FB0DA06 B92AFE7F 494E8A9E 07B85737 F3A58BE1 1A48A229 C37C1E69 39F08678 
  80DDCD16 D6BACECA EEBC7CF9 8428787B 35202CDC 60E4616A B623CDBD 230E3AFB 
  418616A9 4093E049 4D10AB75 27E86F73 932E35B5 8862FDAE 0275156F 719BB2F0 
  D697DF7F 28
  	quit
crypto pki certificate chain TP-self-signed-925719354
 certificate self-signed 01
  3082032E 30820216 A0030201 02020101 300D0609 2A864886 F70D0101 05050030 
  30312E30 2C060355 04031325 494F532D 53656C66 2D536967 6E65642D 43657274 
  69666963 6174652D 39323537 31393335 34301E17 0D323330 32303731 39333932 
  335A170D 33303031 30313030 30303030 5A303031 2E302C06 03550403 1325494F 
  532D5365 6C662D53 69676E65 642D4365 72746966 69636174 652D3932 35373139 
  33353430 82012230 0D06092A 864886F7 0D010101 05000382 010F0030 82010A02 
  82010100 BECB75C8 6F5764EE 763AC685 95CA84A8 0D7D6E04 FA0E6E51 1E5602A7 
  0C79B32D B52A70AF F131C705 3CE8D870 4D5CB0DB F46D6B1C 987C78C0 F700F522 
  9AF69FB5 728DB2AE C96DD98B AE88E158 212391FF 34918AF8 9617132C D3A54620 
  BDB87CCD 1A790D05 4E03E708 F43E20D2 69C87DE3 6EB5F390 7B82346B 3F06741A 
  1E8334B7 D2920922 883BCDCE 51F6D70D E363FBF7 E0274D3D 36082865 C3541A57 
  3DE26C1B 82A32E51 E2346680 B6F1E32A FD241EEA 8864B2F4 875B49FF 08596563 
  4B5C8D07 D7F09DB9 B524C3C0 F34BE6F2 03AFACF3 AE6931B5 F35C8509 3401690D 
  3922818D 7AAC58A3 50B00873 2DDBCE9E 5F628A23 D32CA315 0DBD1737 1163BF39 
  13073A5D 02030100 01A35330 51300F06 03551D13 0101FF04 05300301 01FF301F 
  0603551D 23041830 168014C6 50FD7260 EF16DA26 2177101B 12E5C28E 5B99EB30 
  1D060355 1D0E0416 0414C650 FD7260EF 16DA2621 77101B12 E5C28E5B 99EB300D 
  06092A86 4886F70D 01010505 00038201 01005B43 4672C277 A16F4860 F090BD37 
  A0383233 213981CF 1EA37C46 C29CCB3B 1A277801 9340FE1E 61CB3331 F83638A6 
  F449567B 6C101E03 A0AC02EC BF14F120 652AB3D1 CC046F5D 330CC0EC 53A0CCB0 
  61DDF56C 81C858F9 DA2D120C D2C4E0A3 844B2552 972AC2C8 FFFD06A2 5B74FDD9 
  8AB1C088 01614CA1 B84A7661 B03A7EED 6C50CC59 8618EDD4 85D76396 FFE9E6A4 
  40F60B66 37D4DE8D 1C8A2F72 2ED75066 CFD0EC3E F0C4E9A0 0E504963 220021DD 
  7B47D0F9 594CD468 757C58E5 2DEE6CA4 BEF22FB7 BC5C51C2 37CD1D6A BFC2AAAD 
  6BAAE6E9 A2A28A5A 3D9D968C 014FF471 C587A28B EA48E53E 6BA14336 79C64056 
  202AB4B5 D03C69C9 330050A8 AB0E15A1 4554
  	quit
!
crypto pki certificate pool
 cabundle nvram:ios_core.p7b
!
!
license boot level network-advantage addon dna-advantage
archive
 log config
  logging enable
  notify syslog contenttype plaintext
memory free low-watermark processor 134344
!
diagnostic bootup level minimal
!
spanning-tree mode rapid-pvst
spanning-tree extend system-id
!
!
!
enable secret 9 $9$Ik1hpFvWJSstLU$mDqtNKqkITeVIVZwtMWYxpT.eg6lVXGS8TSmdaXwoY.
!
username telecom privilege 15 secret 9 $14$n.q3$NhZpibMxu233P.$SJHuZ13PNFSeTYFR0xbXTar1Hds.oeJfdMwHxIKBFlU
username ciscoworks privilege 15 secret 9 $14$i6Iy$qRZ3BeIuZIisfU$4AGPhpgjwGzd5IMTowemnFebtGRO7v1IhT9a3Q.BiwI
username CiscoAdmin privilege 15 secret 9 $9$uaW/6rLigC9JEU$ujFtyEYRJiJWHHSvbrj4feRPpF2zufDbR7FP90G9V0Q
username CiscoSuperAdmin privilege 15 secret 9 $9$VHbgHOOiRtPVCE$y6gDJVRp6m6WA2A3xZHnLrNZFOcJDheBXND0Y9ieTC2
!
redundancy
 mode sso
crypto engine compliance shield disable
!
!
!
!
!
transceiver type all
 monitoring
!
vlan 2001
 name VLAN_2001
!
!
class-map match-any system-cpp-police-ewlc-control
  description EWLC Control 
class-map match-any system-cpp-police-topology-control
  description Topology control
class-map match-any system-cpp-police-sw-forward
  description Sw forwarding, L2 LVX data packets, LOGGING, Transit Traffic
class-map match-any system-cpp-default
  description EWLC Data, Inter FED Traffic 
class-map match-any system-cpp-police-sys-data
  description Openflow, Exception, EGR Exception, NFL Sampled Data, RPF Failed
class-map match-any system-cpp-police-punt-webauth
  description Punt Webauth
class-map match-any system-cpp-police-l2lvx-control
  description L2 LVX control packets
class-map match-any system-cpp-police-forus
  description Forus Address resolution and Forus traffic
class-map match-any system-cpp-police-multicast-end-station
  description MCAST END STATION
class-map match-any system-cpp-police-high-rate-app
  description High Rate Applications 
class-map match-any system-cpp-police-multicast
  description MCAST Data
class-map match-any system-cpp-police-l2-control
  description L2 control
class-map match-any system-cpp-police-dot1x-auth
  description DOT1X Auth
class-map match-any system-cpp-police-data
  description ICMP redirect, ICMP_GEN and BROADCAST
class-map match-any system-cpp-police-stackwise-virt-control
  description Stackwise Virtual OOB
class-map match-any non-client-nrt-class
class-map match-any system-cpp-police-routing-control
  description Routing control and Low Latency
class-map match-any system-cpp-police-protocol-snooping
  description Protocol snooping
class-map match-any system-cpp-police-dhcp-snooping
  description DHCP snooping
class-map match-any system-cpp-police-ios-routing
  description L2 control, Topology control, Routing control, Low Latency
class-map match-any system-cpp-police-system-critical
  description System Critical and Gold Pkt
class-map match-any system-cpp-police-ios-feature
  description ICMPGEN,BROADCAST,ICMP,L2LVXCntrl,ProtoSnoop,PuntWebauth,MCASTData,Transit,DOT1XAuth,Swfwd,LOGGING,L2LVXData,ForusTraffic,ForusARP,McastEndStn,Openflow,Exception,EGRExcption,NflSampled,RpfFailed
!
policy-map system-cpp-policy
!
! 
!
!
!
!
!
!
!
!
!
!
interface Loopback0
 no ip address
!
interface GigabitEthernet0/0
 vrf forwarding Mgmt-vrf
 no ip address
 shutdown
 negotiation auto
!
interface GigabitEthernet1/0/1
 description uplink to rricrcp-acc-mdf-02:Gig1/0/1
 switchport access vlan 2001
 switchport mode access
!
interface GigabitEthernet1/0/2
 switchport access vlan 2001
 switchport mode access
!
interface GigabitEthernet1/0/3
 switchport access vlan 2001
 switchport mode access
!
interface GigabitEthernet1/0/4
 switchport access vlan 2001
 switchport mode access
!
interface GigabitEthernet1/0/5
 switchport access vlan 2001
 switchport mode access
!
interface GigabitEthernet1/0/6
 switchport access vlan 2001
 switchport mode access
!
interface GigabitEthernet1/0/7
 switchport access vlan 2001
 switchport mode access
!
interface GigabitEthernet1/0/8
 switchport access vlan 2001
 switchport mode access
!
interface GigabitEthernet1/0/9
 switchport access vlan 2001
 switchport mode access
!
interface GigabitEthernet1/0/10
 switchport access vlan 2001
 switchport mode access
!
interface GigabitEthernet1/0/11
 switchport access vlan 2001
 switchport mode access
!
interface GigabitEthernet1/0/12
 switchport access vlan 2001
 switchport mode access
!
interface GigabitEthernet1/0/13
 switchport access vlan 2001
 switchport mode access
!
interface GigabitEthernet1/0/14
 switchport access vlan 2001
 switchport mode access
!
interface GigabitEthernet1/0/15
 switchport access vlan 2001
 switchport mode access
!
interface GigabitEthernet1/0/16
 switchport access vlan 2001
 switchport mode access
!
interface GigabitEthernet1/0/17
 switchport access vlan 2001
 switchport mode access
!
interface GigabitEthernet1/0/18
 switchport access vlan 2001
 switchport mode access
!
interface GigabitEthernet1/0/19
 switchport access vlan 2001
 switchport mode access
!
interface GigabitEthernet1/0/20
 switchport access vlan 2001
 switchport mode access
!
interface GigabitEthernet1/0/21
 switchport access vlan 2001
 switchport mode access
!
interface GigabitEthernet1/0/22
 switchport access vlan 2001
 switchport mode access
!
interface GigabitEthernet1/0/23
 switchport access vlan 2001
 switchport mode access
!
interface GigabitEthernet1/0/24
 switchport access vlan 2001
 switchport mode access
!
interface GigabitEthernet1/1/1
!
interface GigabitEthernet1/1/2
!
interface GigabitEthernet1/1/3
!
interface GigabitEthernet1/1/4
!
interface TenGigabitEthernet1/1/1
!
interface TenGigabitEthernet1/1/2
!
interface TenGigabitEthernet1/1/3
!
interface TenGigabitEthernet1/1/4
!
interface TenGigabitEthernet1/1/5
!
interface TenGigabitEthernet1/1/6
!
interface TenGigabitEthernet1/1/7
!
interface TenGigabitEthernet1/1/8
!
interface FortyGigabitEthernet1/1/1
!
interface FortyGigabitEthernet1/1/2
!
interface TwentyFiveGigE1/1/1
!
interface TwentyFiveGigE1/1/2
!
interface AppGigabitEthernet1/0/1
 switchport access vlan 2001
 switchport mode access
!
interface Vlan1
 no ip address
!
interface Vlan2001
 ip address 10.51.162.2 255.255.254.0
!
!
!
iox
ip forward-protocol nd
no ip forward-protocol udp netbios-ns
no ip forward-protocol udp netbios-dgm
no ip http server
ip http authentication local
no ip http secure-server
ip route 0.0.0.0 0.0.0.0 10.51.162.1
ip tacacs source-interface Loopback0 
ip ssh rsa keypair-name SSH-KEY
ip ssh version 2
ip ssh server algorithm encryption aes256-ctr aes256-cbc
ip ssh server algorithm authentication keyboard password
!
!
ip access-list standard NTPServers-Allow-Trusted
 10 permit 10.123.49.10
 20 permit 10.18.126.242
 30 deny   any
ip access-list standard NTPServers-Block-All
 10 deny   any
ip access-list standard SNMP_AirDefense_RW
 10 permit 10.18.90.31
 20 permit 10.18.90.32
 30 permit 10.18.90.33
 40 deny   any log
ip access-list standard SNMP_ECETools_RO
 10 permit 10.123.48.0 0.0.1.255
 20 permit 10.18.2.0 0.0.1.255
 30 permit 198.187.97.0 0.0.0.127
 40 permit 167.69.200.0 0.0.1.255
 50 permit 204.99.37.30
 60 deny   any log
ip access-list standard SNMP_ECETools_RW
 10 permit 10.123.48.0 0.0.1.255
 20 permit 10.18.2.0 0.0.1.255
 30 permit 198.187.97.0 0.0.0.127
 40 permit 167.69.200.0 0.0.1.255
 50 permit 204.99.37.30
 60 deny   any log
ip access-list standard SNMP_Forescout_RW
 10 remark Retail Forescout
 10 permit 10.18.106.102
 20 permit 10.18.106.117
 30 permit 10.18.107.11
 40 permit 10.18.107.49
 50 permit 10.18.109.251
 60 permit 10.18.109.252
 70 deny   any log
ip access-list standard SNMP_Qualys
 10 permit 10.124.220.8 0.0.0.7
 20 permit 10.124.220.16 0.0.0.7
 30 permit 10.228.124.8 0.0.0.7
 40 permit 10.228.124.16 0.0.0.7
 50 permit 10.228.124.25
 60 deny   any log
ip access-list standard SNMP_ServiceNow
 10 permit 10.124.191.120
 20 permit 10.124.191.121
 30 permit 10.124.191.122
 40 permit 10.124.191.123
 50 permit 10.124.191.124
 60 permit 10.124.191.137
 70 permit 10.124.191.138
 80 permit 10.124.191.139
 90 permit 10.124.191.140
 100 permit 10.124.191.141
 110 permit 10.124.191.142
 120 permit 10.228.167.88
 130 permit 10.228.167.89
 140 permit 10.228.167.90
 150 permit 10.228.167.91
 160 permit 10.228.167.92
 170 permit 10.228.167.93
 180 permit 10.228.167.94
 190 permit 10.228.167.95
 200 permit 10.228.167.96
 210 permit 10.228.167.97
 220 permit 10.42.85.31
 230 permit 10.42.85.32
 240 permit 10.42.85.33
 250 permit 10.42.85.34
 260 permit 10.102.51.21
 270 permit 10.102.51.22
 280 permit 10.102.51.23
 290 permit 10.102.51.24
 300 permit 10.102.51.25
 310 permit 10.102.51.26
 320 permit 10.102.51.27
 330 permit 10.102.51.28
 340 permit 10.102.131.19
 350 permit 10.102.131.21
 360 permit 10.102.131.22
 370 permit 10.102.131.24
 380 permit 10.102.131.25
 390 permit 10.102.131.26
 400 permit 10.102.131.27
 410 permit 10.236.64.232
 420 permit 10.236.64.233
 430 permit 10.236.64.234
 440 permit 10.236.0.75
 450 permit 10.236.0.76
 460 permit 10.236.0.77
 470 permit 10.236.64.205
 480 permit 10.236.64.207
 490 permit 10.236.64.208
 500 permit 10.236.0.44
 510 permit 10.236.0.45
 520 permit 10.236.0.46
 530 permit 10.159.16.5
 540 permit 10.159.16.19
 550 permit 10.159.16.20
 560 permit 10.159.17.21
 570 permit 10.159.17.23
 580 permit 10.159.17.22
 590 permit 10.159.17.20
 600 permit 10.85.164.4
 610 permit 10.85.164.5
 620 permit 10.85.38.116
 630 permit 10.85.38.117
 640 permit 10.74.137.132
 650 permit 10.74.137.133
 660 permit 10.74.9.132
 670 permit 10.74.9.133
 680 permit 10.74.9.101
 690 permit 10.74.9.102
 700 permit 10.85.9.117
 710 permit 10.85.9.116
 720 permit 10.223.252.23
 730 permit 10.223.252.24
 740 permit 10.223.252.25
 750 permit 10.223.252.26
 760 permit 10.85.144.164
 770 permit 10.85.144.165
 780 permit 10.223.251.20
 790 permit 10.223.251.17
 800 permit 10.223.251.18
 810 permit 10.223.251.19
 820 permit 10.74.137.100
 830 permit 10.74.137.101
 840 deny   any
ip access-list standard SNMP_SolarWinds
 10 permit 10.123.48.0 0.0.1.255
 20 permit 10.18.2.0 0.0.1.255
 30 permit 198.187.97.0 0.0.0.127
 40 permit 204.99.37.30
 50 deny   any log
!
ip access-list extended CVS-VirtualTerminal
 10 remark PBM Jump Servers
 10 permit tcp host 10.123.48.141 any eq 22
 20 permit tcp host 10.123.48.142 any eq 22
 30 permit tcp host 10.123.49.75 any eq 22
 40 permit tcp host 204.99.37.30 any eq 22
 50 remark Retail Jump Servers
 50 permit tcp host 10.18.2.141 any eq 22
 60 permit tcp host 10.18.3.71 any eq 22
 70 remark HCB Jump Servers
 70 permit tcp 10.112.220.0 0.0.1.255 any eq 22
 80 permit tcp 10.116.160.0 0.0.7.255 any eq 22
 90 remark Tools VLANs
 90 permit tcp 10.123.48.0 0.0.1.255 any eq 22
 100 permit tcp 10.18.2.0 0.0.1.255 any eq 22
 110 permit tcp 10.81.69.0 0.0.0.255 any eq 22
 120 remark RTL Only - Omnicare NAT
 120 permit tcp 198.187.97.0 0.0.0.127 any eq 22
 130 remark Retail Forescout
 130 permit tcp host 10.18.106.102 any eq 22
 140 permit tcp host 10.18.106.117 any eq 22
 150 permit tcp host 10.18.107.11 any eq 22
 160 permit tcp host 10.18.107.49 any eq 22
 170 permit tcp host 10.18.109.251 any eq 22
 180 permit tcp host 10.18.109.252 any eq 22
 190 remark Tufin - Azure
 190 permit tcp 10.85.80.32 0.0.0.31 any eq 22
 200 permit tcp 10.85.105.0 0.0.0.31 any eq 22
 210 permit tcp 10.85.214.96 0.0.0.31 any eq 22
 220 permit tcp 10.85.8.224 0.0.0.31 any eq 22
 230 permit tcp 10.85.144.32 0.0.0.31 any eq 22
 240 remark Tufin - OnPremise
 240 permit tcp 10.123.252.0 0.0.0.127 any eq 22
 250 permit tcp 10.220.191.0 0.0.0.127 any eq 22
 260 permit tcp 167.69.152.128 0.0.0.127 any eq 22
 270 permit tcp 157.121.152.128 0.0.0.127 any eq 22
 280 remark RI Engineering Meraki
 280 permit tcp 10.136.0.0 0.0.127.255 any eq 22
 290 remark AZ Engineering Meraki
 290 permit tcp 10.206.0.0 0.0.127.255 any eq 22
 300 remark CT Engineering Meraki
 300 permit tcp 10.96.0.0 0.0.127.255 any eq 22
 310 remark CT2 Engineering Meraki
 310 permit tcp 10.96.128.0 0.0.127.255 any eq 22
 320 deny ip any any
!
logging origin-id hostname
logging source-interface Loopback0
logging host 10.10.109.73
logging host 10.18.119.81
logging host 10.6.74.165
!
snmp-server group Qualys v3 priv read View_Qualys 
snmp-server group ServiceNow v3 priv read View_ServiceNow 
snmp-server group SolarWinds v3 priv read View_SolarWinds 
snmp-server view View_Qualys iso included
snmp-server view View_ServiceNow iso included
snmp-server view View_SolarWinds iso included
snmp-server community t3l3c0m_d*t* RO SNMP_ECETools_RO
snmp-server community MLg5d4LNrL09etKw RW SNMP_ECETools_RW
snmp-server community #Forescin!142100 RW SNMP_Forescout_RW
snmp-server community GZf86JBceliyBy6Y1FOwCP7cruszIG RO SNMP_AirDefense_RO
snmp-server location 100 Scenic View Drive, Cumberland, RI, 02864 () () (Not PCI) (Retail Corp) ( |) 
snmp-server contact CRC 12.H.RI
snmp-server enable traps snmp authentication linkdown linkup coldstart warmstart
snmp-server enable traps flowmon
snmp-server enable traps entity-perf throughput-notif
snmp-server enable traps call-home message-send-fail server-fail
snmp-server enable traps tty
snmp-server enable traps eigrp
snmp-server enable traps ospf state-change
snmp-server enable traps ospf errors
snmp-server enable traps ospf retransmit
snmp-server enable traps ospf lsa
snmp-server enable traps ospf cisco-specific state-change nssa-trans-change
snmp-server enable traps ospf cisco-specific state-change shamlink interface
snmp-server enable traps ospf cisco-specific state-change shamlink neighbor
snmp-server enable traps ospf cisco-specific errors
snmp-server enable traps ospf cisco-specific retransmit
snmp-server enable traps ospf cisco-specific lsa
snmp-server enable traps bfd
snmp-server enable traps license
snmp-server enable traps smart-license
snmp-server enable traps auth-framework sec-violation
snmp-server enable traps rep
snmp-server enable traps memory bufferpeak
snmp-server enable traps config-copy
snmp-server enable traps config
snmp-server enable traps config-ctid
snmp-server enable traps energywise
snmp-server enable traps fru-ctrl
snmp-server enable traps entity
snmp-server enable traps flash insertion removal lowspace
snmp-server enable traps power-ethernet group 1 threshold 80
snmp-server enable traps power-ethernet police
snmp-server enable traps cpu threshold
snmp-server enable traps syslog
snmp-server enable traps udld link-fail-rpt
snmp-server enable traps udld status-change
snmp-server enable traps vtp
snmp-server enable traps vlancreate
snmp-server enable traps vlandelete
snmp-server enable traps port-security
snmp-server enable traps envmon
snmp-server enable traps stackwise
snmp-server enable traps mvpn
snmp-server enable traps pw vc
snmp-server enable traps ipsla
snmp-server enable traps dhcp
snmp-server enable traps event-manager
snmp-server enable traps ike policy add
snmp-server enable traps ike policy delete
snmp-server enable traps ike tunnel start
snmp-server enable traps ike tunnel stop
snmp-server enable traps ipsec cryptomap add
snmp-server enable traps ipsec cryptomap delete
snmp-server enable traps ipsec cryptomap attach
snmp-server enable traps ipsec cryptomap detach
snmp-server enable traps ipsec tunnel start
snmp-server enable traps ipsec tunnel stop
snmp-server enable traps ipsec too-many-sas
snmp-server enable traps ospfv3 state-change
snmp-server enable traps ospfv3 errors
snmp-server enable traps ipmulticast
snmp-server enable traps msdp
snmp-server enable traps pim neighbor-change rp-mapping-change invalid-pim-message
snmp-server enable traps bridge newroot topologychange
snmp-server enable traps stpx inconsistency root-inconsistency loop-inconsistency
snmp-server enable traps bgp cbgp2
snmp-server enable traps hsrp
snmp-server enable traps isis
snmp-server enable traps cef resource-failure peer-state-change peer-fib-state-change inconsistency
snmp-server enable traps lisp
snmp-server enable traps nhrp nhs
snmp-server enable traps nhrp nhc
snmp-server enable traps nhrp nhp
snmp-server enable traps nhrp quota-exceeded
snmp-server enable traps local-auth
snmp-server enable traps entity-diag boot-up-fail hm-test-recover hm-thresh-reached scheduled-test-fail
snmp-server enable traps mpls rfc ldp
snmp-server enable traps mpls ldp
snmp-server enable traps mpls rfc traffic-eng
snmp-server enable traps mpls traffic-eng
snmp-server enable traps mpls fast-reroute protected
snmp-server enable traps bulkstat collection transfer
snmp-server enable traps mac-notification change move threshold
snmp-server enable traps errdisable
snmp-server enable traps vlan-membership
snmp-server enable traps transceiver all
snmp-server enable traps vrfmib vrf-up vrf-down vnet-trunk-up vnet-trunk-down
snmp-server enable traps rf
snmp-server enable traps mpls vpn
snmp-server enable traps mpls rfc vpn
snmp-server host 10.18.106.117 version 2c #Forescin!142100mac-notification  snmp
snmp-server host 10.18.40.116 CvsRO 
snmp ifmib ifalias long
snmp ifmib ifindex persist
tacacs server CVSHealth-ISE-AZ-1
 address ipv4 10.123.240.25
 key 7 022C245609262534454D0C585744
tacacs server CVSHealth-ISE-AZ-2
 address ipv4 10.123.240.26
 key 7 01392609592B2C1A284F4B484B56
tacacs server CVSHealth-ISE-RI-1
 address ipv4 10.18.40.223
 key 7 11233908153221190D292E657A60
tacacs server CVSHealth-ISE-RI-2
 address ipv4 10.18.40.224
 key 7 022C245609262534454D0C585744
!
!
!
!
control-plane
 service-policy input system-cpp-policy
!
banner motd ^C
-----------------------------------------------------
                    CVS Health
        ---=  Enterprise Data Network  =---
-----------------------------------------------------
         WARNING: Login attempts are audited. 
        Access is only for authorized purposes. 
           Offenders will be prosecuted!
-----------------------------------------------------
                    CRC 12.H.RI
^C
alias exec ApplyGoldenTemplate copy ftp://CiscoCode:ButterCream$4@167.69.200.22/CVS-GoldTemplate-RTL-IOS16
!
line con 0
 session-timeout 15 
 exec-timeout 15 0
 logging synchronous
 stopbits 1
line vty 0 4
 session-timeout 15 
 access-class CVS-VirtualTerminal in
 exec-timeout 15 0
 logging synchronous
 transport input ssh
line vty 5 31
 session-timeout 15 
 access-class CVS-VirtualTerminal in
 exec-timeout 15 0
 logging synchronous
 transport input ssh
!
call-home
 ! If contact email address in call-home is configured as sch-smart-licensing@cisco.com
 ! the email address configured in Cisco Smart License Portal will be used as contact email address to send SCH notifications.
 contact-email-addr sch-smart-licensing@cisco.com
 profile "CiscoTAC-1"
  active
  destination transport-method http
ntp access-group peer NTPServers-Allow-Trusted
ntp access-group serve NTPServers-Block-All
ntp access-group serve-only NTPServers-Block-All
ntp access-group query-only NTPServers-Block-All
ntp server 10.123.49.10
ntp server 10.18.126.242
!
!
!
!
!
!
app-hosting appid te_agent
 app-vnic AppGigabitEthernet access
  guest-interface 0
 app-resource docker
  prepend-pkg-opts
  run-opts 1 "-e TEAGENT_ACCOUNT_TOKEN=jeeqf029d7ggyow30ssn1gqobd2t27el"
end