!Command: show running-config
!Time: Fri Mar  6 09:38:47 2026
version 5.2(9)
hostname rriwscpaccinnoprod
feature tacacs+
feature ospf
feature interface-vlan
feature netflow
feature hsrp
hsrp timers extended-hold
feature lacp
feature dhcp
username admin password 5 $1$AGErjdxr$21Q42KMntl.baNO/CtTuC1  role vdc-admin
username ciscoworks password 5 $1$hSvwiCKN$ZUilrKShwY06QgQ7VtIML/  role vdc-admin
username ServiceNow password 5 $1$AGPr9wyz$DyC.JZ1cMP9zC1V7JBxrf1  role vdc-operator
username SolarWinds password 5 $1$GfvmudoD$TDkaGM6Es5qSPoBexYVX3/  role vdc-operator
username Qualys password 5 $1$dV2Hpgg1$.HD53VVkHimToI8/Vngau0  role vdc-operator
username ciscoISE password 5 $5$ihSphN6z$kiuYXvcq4.fEKth5uzVz7oF7McQbY5D3GoFXz2amzL9  role vdc-admin
banner motd #
-----------------------------------------------------
                    CVS Health
        ---=  Enterprise Data Network  =---
-----------------------------------------------------
         WARNING: Login attempts are audited. 
        Access is only for authorized purposes. 
           Offenders will be prosecuted!
-----------------------------------------------------
                    CRC 12.Nexus_NX
#
no ip domain-lookup
ip tacacs source-interface port-channel2
tacacs-server host 10.123.240.25 key 7 "M@qg@Jpnuh!23" 
tacacs-server host 10.123.240.26 key 7 "M@qg@Jpnuh!23" 
tacacs-server host 10.18.40.223 key 7 "M@qg@Jpnuh!23" 
tacacs-server host 10.18.40.224 key 7 "M@qg@Jpnuh!23" 
aaa group server tacacs+ CVS_ISE_NetAdmin 
    server 10.123.240.25 
    server 10.123.240.26 
    server 10.18.40.223 
    server 10.18.40.224 
    source-interface Vlan10
ip access-list 75
  10 permit ip 204.99.37.30/32 any 
  20 permit ip 10.123.48.0/23 any 
  30 permit ip 10.18.2.0/23 any 
  40 permit ip 204.99.62.7/32 any 
  50 permit ip 204.99.87.1/32 any 
  60 permit ip 10.249.247.3/32 any 
  70 permit ip 10.249.120.8/32 any 
  80 permit ip 10.217.24.128/32 any 
  90 permit ip 10.93.22.248/32 any 
  100 permit ip 10.93.15.188/32 any 
  110 permit ip 10.93.15.190/32 any 
  120 permit ip 10.93.15.189/32 any 
  130 permit ip 10.18.58.47/32 any 
  140 permit ip 10.92.236.245/32 any 
  150 permit ip 10.92.236.246/32 any 
  160 permit ip 10.92.236.247/32 any 
  170 permit ip 10.92.236.248/32 any 
  180 permit ip 10.18.24.139/32 any 
  190 permit ip 10.18.24.140/32 any 
  200 permit ip 10.18.24.141/32 any 
  210 permit ip 10.228.8.87/32 any 
  220 permit ip 10.228.8.88/32 any 
  230 permit ip 10.228.8.89/32 any 
  240 permit ip 10.228.8.90/32 any 
  250 permit ip 10.92.252.246/32 any 
  260 permit ip 10.92.252.245/32 any 
  270 permit ip 10.92.252.248/32 any 
  280 permit ip 10.18.145.175/32 any 
  290 permit ip 10.92.27.208/32 any 
  300 permit ip 10.18.172.61/32 any 
  310 permit ip 10.93.46.31/32 any 
  320 permit ip 10.93.46.32/32 any 
  330 permit ip 10.93.46.33/32 any 
  340 permit ip 10.93.46.34/32 any 
  350 permit ip 10.93.46.35/32 any 
  360 permit ip 10.93.46.36/32 any 
  370 permit ip 10.93.46.37/32 any 
  380 permit ip 10.93.46.38/32 any 
  390 permit ip 10.93.46.39/32 any 
  400 permit ip 10.93.46.54/32 any 
  410 permit ip 10.93.46.55/32 any 
  420 permit ip 10.18.106.101/32 any 
  430 permit ip 10.18.106.102/32 any 
  440 permit ip 10.18.106.117/32 any 
  450 permit ip 10.18.107.49/32 any 
  460 permit ip 10.18.107.11/32 any 
  470 permit ip 10.18.109.251/32 any 
  480 permit ip 10.18.109.252/32 any 
  490 permit ip 10.18.109.253/32 any 
  500 permit ip 10.18.110.1/32 any 
  510 permit ip 10.18.110.2/32 any 
  520 deny ip any any log 
ip access-list BLOCK_UNTRUSTED_NTP
  10 permit udp 204.99.62.66/32 eq ntp any 
  20 permit udp 10.17.0.35/32 eq ntp any 
  30 permit udp 10.17.0.36/32 eq ntp any 
  40 permit udp 10.18.126.242/32 eq ntp any 
  50 permit udp 10.123.49.10/32 eq ntp any 
  60 deny udp any any eq ntp log 
  70 permit ip any any 
  80 remark ACL TO BLOCK NTP FROM UNTRUSTED SOURCES
ip access-list CVS-VirtualTerminal
  10 remark PBM Jump Servers
  20 permit tcp 10.123.48.141/32 any eq 22 
  30 permit tcp 10.123.48.142/32 any eq 22 
  40 permit tcp 10.123.49.75/32 any eq 22 
  50 permit tcp 204.99.37.30/32 any eq 22 
  60 remark Retail Jump Servers
  70 permit tcp 10.18.2.141/32 any eq 22 
  80 permit tcp 10.18.3.71/32 any eq 22 
  90 remark HCB Jump Servers
  100 permit tcp 10.112.220.0/23 any eq 22 
  110 permit tcp 10.116.160.0/21 any eq 22 
  120 remark Tools VLANs
  130 permit tcp 10.123.48.0/23 any eq 22 
  140 permit tcp 10.18.2.0/23 any eq 22 
  150 permit tcp 10.81.69.0/24 any eq 22 
  160 remark RTL Only - Omnicare NAT
  170 permit tcp 198.187.97.0/25 any eq 22 
  180 remark Retail Forescout
  190 permit tcp 10.18.106.102/32 any eq 22 
  200 permit tcp 10.18.106.117/32 any eq 22 
  210 permit tcp 10.18.107.11/32 any eq 22 
  220 permit tcp 10.18.107.49/32 any eq 22 
  230 permit tcp 10.18.109.251/32 any eq 22 
  240 permit tcp 10.18.109.252/32 any eq 22 
  250 remark Tufin - Azure
  260 permit tcp 10.85.80.32/27 any eq 22 
  270 permit tcp 10.85.105.0/27 any eq 22 
  280 permit tcp 10.85.214.96/27 any eq 22 
  290 permit tcp 10.85.8.224/27 any eq 22 
  300 permit tcp 10.85.144.32/27 any eq 22 
  310 remark Tufin - OnPremise
  320 permit tcp 10.123.252.0/25 any eq 22 
  330 permit tcp 10.220.191.0/25 any eq 22 
  340 permit tcp 167.69.152.128/25 any eq 22 
  350 permit tcp 157.121.152.128/25 any eq 22 
  360 remark RI Engineering Meraki
  370 permit tcp 10.136.0.0/17 any eq 22 
  380 remark AZ Engineering Meraki
  390 permit tcp 10.206.0.0/17 any eq 22 
  400 remark CT Engineering Meraki
  410 permit tcp 10.96.0.0/17 any eq 22 
  420 remark CT2 Engineering Meraki
  430 permit tcp 10.96.128.0/17 any eq 22 
  440 deny ip any any 
ip access-list SNMP_Qualys
  statistics per-entry
  10 permit ip 10.124.220.8/29 any 
  20 permit ip 10.124.220.16/29 any 
  30 permit ip 10.228.124.8/29 any 
  40 permit ip 10.228.124.16/29 any 
  50 permit ip 10.228.124.25/32 any 
  60 deny ip any any log 
ip access-list SNMP_ServiceNow
  statistics per-entry
  10 permit ip 10.124.191.120/32 any 
  20 permit ip 10.124.191.121/32 any 
  30 permit ip 10.124.191.122/32 any 
  40 permit ip 10.124.191.123/32 any 
  50 permit ip 10.124.191.124/32 any 
  60 permit ip 10.124.191.137/32 any 
  70 permit ip 10.124.191.138/32 any 
  80 permit ip 10.124.191.139/32 any 
  90 permit ip 10.124.191.140/32 any 
  100 permit ip 10.124.191.141/32 any 
  110 permit ip 10.124.191.142/32 any 
  120 permit ip 10.228.167.88/32 any 
  130 permit ip 10.228.167.89/32 any 
  140 permit ip 10.228.167.90/32 any 
  150 permit ip 10.228.167.91/32 any 
  160 permit ip 10.228.167.92/32 any 
  170 permit ip 10.228.167.93/32 any 
  180 permit ip 10.228.167.94/32 any 
  190 permit ip 10.228.167.95/32 any 
  200 permit ip 10.228.167.96/32 any 
  210 permit ip 10.228.167.97/32 any 
  220 permit ip 10.42.85.31/32 any 
  230 permit ip 10.42.85.32/32 any 
  240 permit ip 10.42.85.33/32 any 
  250 permit ip 10.42.85.34/32 any 
  260 permit ip 10.102.51.21/32 any 
  270 permit ip 10.102.51.22/32 any 
  280 permit ip 10.102.51.23/32 any 
  290 permit ip 10.102.51.24/32 any 
  300 permit ip 10.102.51.25/32 any 
  310 permit ip 10.102.51.26/32 any 
  320 permit ip 10.102.51.27/32 any 
  330 permit ip 10.102.51.28/32 any 
  340 permit ip 10.102.131.19/32 any 
  350 permit ip 10.102.131.21/32 any 
  360 permit ip 10.102.131.22/32 any 
  370 permit ip 10.102.131.24/32 any 
  380 permit ip 10.102.131.25/32 any 
  390 permit ip 10.102.131.26/32 any 
  400 permit ip 10.102.131.27/32 any 
  410 permit ip 10.236.64.232/32 any 
  420 permit ip 10.236.64.233/32 any 
  430 permit ip 10.236.64.234/32 any 
  440 permit ip 10.236.0.75/32 any 
  450 permit ip 10.236.0.76/32 any 
  460 permit ip 10.236.0.77/32 any 
  470 permit ip 10.236.64.205/32 any 
  480 permit ip 10.236.64.207/32 any 
  490 permit ip 10.236.64.208/32 any 
  500 permit ip 10.236.0.44/32 any 
  510 permit ip 10.236.0.45/32 any 
  520 permit ip 10.236.0.46/32 any 
  530 permit ip 10.159.16.5/32 any 
  540 permit ip 10.159.16.19/32 any 
  550 permit ip 10.159.16.20/32 any 
  560 permit ip 10.159.17.21/32 any 
  570 permit ip 10.159.17.23/32 any 
  580 permit ip 10.159.17.22/32 any 
  590 permit ip 10.159.17.20/32 any 
  600 permit ip 10.85.164.4/32 any 
  610 permit ip 10.85.164.5/32 any 
  620 permit ip 10.85.38.116/32 any 
  630 permit ip 10.85.38.117/32 any 
  640 permit ip 10.74.137.132/32 any 
  650 permit ip 10.74.137.133/32 any 
  660 permit ip 10.74.9.132/32 any 
  670 permit ip 10.74.9.133/32 any 
  680 permit ip 10.74.9.101/32 any 
  690 permit ip 10.74.9.102/32 any 
  700 permit ip 10.85.9.117/32 any 
  710 permit ip 10.85.9.116/32 any 
  720 permit ip 10.223.252.23/32 any 
  730 permit ip 10.223.252.24/32 any 
  740 permit ip 10.223.252.25/32 any 
  750 permit ip 10.223.252.26/32 any 
  760 permit ip 10.85.144.164/32 any 
  770 permit ip 10.85.144.165/32 any 
  780 permit ip 10.223.251.20/32 any 
  790 permit ip 10.223.251.17/32 any 
  800 permit ip 10.223.251.18/32 any 
  810 permit ip 10.223.251.19/32 any 
  820 permit ip 10.74.137.100/32 any 
  830 permit ip 10.74.137.101/32 any 
  840 deny ip any any log 
ip access-list SNMP_SolarWinds
  10 permit ip 10.123.48.0/23 any 
  20 permit ip 10.18.2.0/23 any 
  30 permit ip 204.99.37.30/32 any 
  40 deny ip any any log 
snmp-server contact Enterprise Connectivity Engineering (ECE) 22.18
snmp-server location  One CVS Drive, Woonsocket, RI, 02895 () () (PCI Shared) (Retail Corp) ( |) 
snmp-server user admin vdc-admin auth md5 0x756d3de49214f134fc978020cad36ed6 priv 0x756d3de49214f134fc978020cad36ed6 localizedkey
snmp-server user Qualys vdc-operator auth sha 0x9055189663c08951e635c87aa6ddcf17a71998c5 priv aes-128 0x654de2dacf5629e9a5609b335a159f365e7c831d localizedkey
snmp-server user ciscoISE vdc-admin 
snmp-server user ServiceNow vdc-operator auth sha 0x08da9d93b034f9fcacfb2da3bbf9deb0930433bf priv aes-128 0x8b6863939f16ebdc130b6de9fbcc64d084a6ba08 localizedkey
snmp-server user SolarWinds vdc-operator auth sha 0xe2d20bff5ff7ba20064441e09bc54e335b17c164 priv aes-128 0xa9bc70e56292b969103bee33608440080f291371 localizedkey
snmp-server host 10.18.40.116 traps version 1 C^s.012! 
snmp-server host 10.18.40.117 traps version 1 C^s.012! 
rmon event 1 log trap public description FATAL(1) owner PMON@FATAL
rmon event 2 log trap public description CRITICAL(2) owner PMON@CRITICAL
rmon event 3 log trap public description ERROR(3) owner PMON@ERROR
rmon event 4 log trap public description WARNING(4) owner PMON@WARNING
rmon event 5 log trap public description INFORMATION(5) owner PMON@INFO
snmp-server enable traps callhome event-notify
snmp-server enable traps callhome smtp-send-fail
snmp-server enable traps cfs state-change-notif
snmp-server enable traps cfs merge-failure
snmp-server enable traps aaa server-state-change
snmp-server enable traps zone unsupp-mem
snmp-server enable traps hsrp state-change
snmp-server enable traps feature-control FeatureOpStatusChange
snmp-server enable traps sysmgr cseFailSwCoreNotifyExtended
snmp-server enable traps config ccmCLIRunningConfigChanged
snmp-server enable traps snmp authentication
snmp-server community rW.012!C^s group vdc-admin
snmp-server community C^s.012! group vdc-operator
snmp-server community #Forescin!142100 group vdc-operator
snmp-server community rW.012!C^s use-acl 75
snmp-server community C^s.012! use-acl 75
snmp-server community #Forescin!142100 use-acl 75
ntp server 10.17.0.35 use-vrf management
ntp server 10.17.0.36 use-vrf management
ntp server 10.18.126.242 prefer
ntp server 10.123.49.10
aaa authentication login default group CVS_ISE_NetAdmin 
aaa authorization config-commands default group CVS_ISE_NetAdmin local 
aaa authorization commands default group CVS_ISE_NetAdmin local 
aaa accounting default group CVS_ISE_NetAdmin 
aaa authentication login error-enable 
aaa authentication login ascii-authentication 
no ip source-route
vrf context management
vlan 1,10,20,1010
vlan configuration 1,10,20
vlan 10
  name 10.254.246.0(Production)
vlan 20
  name 10.254.248(Management)
vlan 1010
  name 10.254.239.0(Cloud)
spanning-tree port type edge bpduguard default
spanning-tree vlan 1-3967,4048-4093 priority 16384
no ip dhcp relay
interface Vlan1
interface Vlan10
  no ip redirects
  ip address 10.254.246.1/23
  ip ospf network point-to-point
  ip router ospf 10 area 0.0.0.0
  no shutdown
  description Production Data VLAN
interface Vlan20
  no ip redirects
  ip address 10.254.248.1/23
  ip ospf network point-to-point
  ip router ospf 10 area 0.0.0.0
  no shutdown
  description Management VLAN
interface Vlan1010
  no ip redirects
  ip address 10.254.239.1/24
  ip ospf network point-to-point
  ip router ospf 10 area 0.0.0.0
  no shutdown
  description Cloud VLAN
interface port-channel2
  description CONNECTED_TO_R-RIWOON-INNO-DIS1_E1/1
  ip address 10.254.254.2/30
  ip ospf authentication message-digest
  ip ospf message-digest-key 1 md5 3 f7d110b895230cbd
  ip ospf network point-to-point
  ip router ospf 10 area 0.0.0.0
interface port-channel9
  description CONNECTED_TO_R-RI_WMS
  switchport
  switchport access vlan 10
interface port-channel10
  description CONNECTED_TO_R-RI_WMS
  switchport
  switchport access vlan 10
interface port-channel20
  description CONNECTED_TO_DELL_MX_SWITCHES
  switchport
  switchport mode trunk
  switchport trunk allowed vlan 10,20
interface Ethernet1/17
  description CONNECTED_TO_R-RIWOON-INNO-DIS1_E1/1
  channel-group 2 mode active
  no shutdown
interface Ethernet1/18
  description CONNECTED_TO_R-RIWOON-INNO-DIS1_E1/2
  channel-group 2 mode active
  no shutdown
interface Ethernet1/19
  switchport
  switchport access vlan 10
  spanning-tree port type edge
  no shutdown
interface Ethernet1/20
  switchport
  switchport access vlan 10
  spanning-tree port type edge
  no shutdown
interface Ethernet1/21
  switchport
  switchport access vlan 10
  spanning-tree port type edge
  no shutdown
interface Ethernet1/22
  switchport
  switchport access vlan 10
  spanning-tree port type edge
  no shutdown
interface Ethernet1/23
  switchport
  switchport access vlan 10
  spanning-tree port type edge
  no shutdown
interface Ethernet1/24
  switchport
  switchport access vlan 20
  spanning-tree port type edge
  no shutdown
interface Ethernet1/25
  switchport
  switchport access vlan 20
  spanning-tree port type edge
  no shutdown
interface Ethernet1/26
  switchport
  switchport access vlan 20
  spanning-tree port type edge
  no shutdown
interface Ethernet1/27
  switchport
  switchport access vlan 20
  spanning-tree port type edge
  no shutdown
interface Ethernet1/28
  switchport
  switchport access vlan 20
  spanning-tree port type edge
  no shutdown
interface Ethernet1/29
  switchport
  switchport access vlan 20
  spanning-tree port type edge
  no shutdown
interface Ethernet1/30
  switchport
  switchport access vlan 20
  spanning-tree port type edge
  no shutdown
interface Ethernet1/31
  switchport
  switchport access vlan 20
  spanning-tree port type edge
  no shutdown
interface Ethernet1/32
  switchport
  switchport access vlan 20
  spanning-tree port type edge
  no shutdown
interface Ethernet2/5
  description R-RIWOON-INNO-WLC01
  switchport
  switchport mode trunk
  switchport trunk allowed vlan 10,20
  spanning-tree port type edge
  no shutdown
interface Ethernet2/6
  description R-RIWOON-INNO-AP01
  switchport
  switchport access vlan 20
  spanning-tree port type edge
  no shutdown
interface Ethernet2/17
  switchport
  switchport access vlan 10
  spanning-tree port type edge
  no shutdown
interface Ethernet2/18
  switchport
  switchport access vlan 10
  spanning-tree port type edge
  no shutdown
interface Ethernet2/19
  switchport
  switchport access vlan 10
  spanning-tree port type edge
  no shutdown
interface Ethernet2/20
  switchport
  switchport access vlan 10
  spanning-tree port type edge
  no shutdown
interface Ethernet2/21
  description PaloAlto FW Proxy
  switchport
  switchport access vlan 10
  spanning-tree port type edge
  no shutdown
interface Ethernet2/22
  switchport
  switchport access vlan 10
  spanning-tree port type edge
  no shutdown
interface Ethernet2/23
  switchport
  switchport access vlan 10
  spanning-tree port type edge
  no shutdown
interface Ethernet2/24
  switchport
  switchport access vlan 10
  spanning-tree port type edge
  no shutdown
interface Ethernet2/25
  switchport
  switchport access vlan 10
  spanning-tree port type edge
  no shutdown
interface Ethernet2/26
  switchport
  switchport access vlan 10
  spanning-tree port type edge
  no shutdown
interface Ethernet2/27
  switchport
  switchport access vlan 10
  spanning-tree port type edge
  no shutdown
interface Ethernet2/28
  switchport
  switchport access vlan 10
  spanning-tree port type edge
  no shutdown
interface Ethernet2/29
  switchport
  switchport access vlan 10
  spanning-tree port type edge
  no shutdown
interface Ethernet2/30
  switchport
  switchport mode trunk
  switchport trunk allowed vlan 10,20
  channel-group 20 mode active
  no shutdown
interface Ethernet2/31
  switchport
  switchport access vlan 10
  spanning-tree port type edge
  no shutdown
interface Ethernet2/32
  switchport
  switchport access vlan 10
  spanning-tree port type edge
  no shutdown
interface Ethernet2/33
  switchport
  switchport access vlan 20
  spanning-tree port type edge
  no shutdown
interface Ethernet2/34
  switchport
  switchport access vlan 20
  spanning-tree port type edge
  no shutdown
interface Ethernet2/35
  switchport
  switchport access vlan 20
  spanning-tree port type edge
  no shutdown
interface Ethernet2/36
  switchport
  switchport access vlan 20
  spanning-tree port type edge
  no shutdown
interface Ethernet2/37
  switchport
  switchport access vlan 20
  spanning-tree port type edge
  no shutdown
interface Ethernet2/38
  switchport
  switchport access vlan 20
  spanning-tree port type edge
  no shutdown
interface Ethernet2/39
  switchport
  switchport access vlan 20
  spanning-tree port type edge
  no shutdown
interface Ethernet2/40
  switchport
  switchport access vlan 20
  spanning-tree port type edge
  no shutdown
interface Ethernet2/41
  switchport
  switchport access vlan 20
  spanning-tree port type edge
  no shutdown
interface Ethernet2/42
  switchport
  switchport access vlan 20
  spanning-tree port type edge
  no shutdown
interface Ethernet2/43
  switchport
  switchport access vlan 20
  spanning-tree port type edge
  no shutdown
interface Ethernet2/44
  switchport
  switchport access vlan 20
  spanning-tree port type edge
  no shutdown
interface Ethernet2/45
  switchport
  switchport access vlan 20
  spanning-tree port type edge
  no shutdown
interface Ethernet2/46
  switchport
  switchport access vlan 20
  spanning-tree port type edge
  no shutdown
interface Ethernet3/1
  description iLab Infoblox Mgmt
  switchport
  switchport access vlan 20
  spanning-tree port type edge
  no shutdown
interface Ethernet3/2
  description iLab Infoblox Lan1
  switchport
  switchport access vlan 10
  spanning-tree port type edge
  no shutdown
interface Ethernet3/3
  switchport
  switchport access vlan 10
  spanning-tree port type edge
  no shutdown
interface Ethernet3/4
  switchport
  switchport access vlan 10
  spanning-tree port type edge
  no shutdown
interface Ethernet3/5
  switchport
  switchport access vlan 10
  spanning-tree port type edge
  no shutdown
interface Ethernet3/6
  switchport
  switchport access vlan 10
  spanning-tree port type edge
  no shutdown
interface Ethernet3/7
  switchport
  switchport access vlan 10
  spanning-tree port type edge
  no shutdown
interface Ethernet3/8
  description CONNECTED_TO_R-RI_WMS
  switchport
  switchport access vlan 10
  spanning-tree port type edge
  channel-group 9 mode active
  no shutdown
interface Ethernet3/9
  description CONNECTED_TO_R-RI_WMS
  switchport
  switchport access vlan 10
  spanning-tree port type edge
  channel-group 9 mode active
  no shutdown
interface Ethernet3/10
  description CONNECTED_TO_R-RI_WMS
  switchport
  switchport access vlan 10
  spanning-tree port type edge
  channel-group 9 mode active
  no shutdown
interface Ethernet3/11
  description CONNECTED_TO_R-RI_WMS
  switchport
  switchport access vlan 10
  spanning-tree port type edge
  channel-group 9 mode active
  no shutdown
interface Ethernet3/12
  description CONNECTED_TO_R-RI_WMS
  switchport
  switchport access vlan 10
  spanning-tree port type edge
  channel-group 10 mode active
  no shutdown
interface Ethernet3/13
  description CONNECTED_TO_R-RI_WMS
  switchport
  switchport access vlan 10
  spanning-tree port type edge
  channel-group 10 mode active
  no shutdown
interface Ethernet3/14
  description CONNECTED_TO_R-RI_WMS
  switchport
  switchport access vlan 10
  spanning-tree port type edge
  channel-group 10 mode active
  no shutdown
interface Ethernet3/15
  description CONNECTED_TO_R-RI_WMS
  switchport
  switchport access vlan 10
  spanning-tree port type edge
  channel-group 10 mode active
  no shutdown
interface Ethernet3/16
  switchport
  switchport access vlan 10
  spanning-tree port type edge
  no shutdown
interface Ethernet3/17
  switchport
  switchport access vlan 10
  spanning-tree port type edge
  no shutdown
interface Ethernet3/18
  switchport
  switchport access vlan 10
  spanning-tree port type edge
  no shutdown
interface Ethernet3/19
  switchport
  switchport access vlan 10
  spanning-tree port type edge
  no shutdown
interface Ethernet3/20
  switchport
  switchport access vlan 10
  spanning-tree port type edge
  no shutdown
interface Ethernet3/21
  switchport
  switchport access vlan 10
  spanning-tree port type edge
  no shutdown
interface Ethernet3/22
  switchport
  switchport access vlan 10
  spanning-tree port type edge
  no shutdown
interface Ethernet3/23
  switchport
  switchport access vlan 10
  spanning-tree port type edge
  no shutdown
interface Ethernet3/24
  switchport
  switchport access vlan 10
  spanning-tree port type edge
  no shutdown
interface Ethernet3/25
  switchport
  switchport access vlan 20
  spanning-tree port type edge
  no shutdown
interface Ethernet3/26
  switchport
  switchport access vlan 20
  spanning-tree port type edge
  no shutdown
interface Ethernet3/27
  switchport
  switchport access vlan 20
  spanning-tree port type edge
  no shutdown
interface Ethernet3/28
  switchport
  switchport access vlan 20
  spanning-tree port type edge
  no shutdown
interface Ethernet3/29
  switchport
  switchport access vlan 20
  spanning-tree port type edge
  no shutdown
interface Ethernet3/30
  switchport
  switchport mode trunk
  switchport trunk allowed vlan 10,20
  channel-group 20 mode active
  no shutdown
interface Ethernet3/31
  switchport
  switchport access vlan 20
  spanning-tree port type edge
  no shutdown
interface Ethernet3/32
  switchport
  switchport access vlan 20
  spanning-tree port type edge
  no shutdown
interface Ethernet3/33
  switchport
  switchport access vlan 20
  spanning-tree port type edge
  no shutdown
interface Ethernet3/34
  switchport
  switchport access vlan 20
  spanning-tree port type edge
  no shutdown
interface Ethernet3/35
  switchport
  switchport access vlan 20
  spanning-tree port type edge
  no shutdown
interface Ethernet3/36
  switchport
  switchport access vlan 20
  spanning-tree port type edge
  no shutdown
interface Ethernet3/37
  switchport
  switchport access vlan 20
  spanning-tree port type edge
  no shutdown
interface Ethernet3/38
  switchport
  switchport access vlan 20
  spanning-tree port type edge
  no shutdown
interface Ethernet3/39
  switchport
  switchport access vlan 20
  spanning-tree port type edge
  no shutdown
interface Ethernet3/40
  switchport
  switchport access vlan 10
  spanning-tree port type edge
  no shutdown
interface Ethernet3/41
  switchport
  switchport access vlan 20
  spanning-tree port type edge
  no shutdown
interface Ethernet3/42
  switchport
  switchport access vlan 20
  spanning-tree port type edge
  no shutdown
interface Ethernet3/43
  switchport
  switchport access vlan 20
  spanning-tree port type edge
  no shutdown
interface Ethernet3/44
  switchport
  switchport access vlan 20
  spanning-tree port type edge
  no shutdown
interface Ethernet3/45
  switchport
  switchport access vlan 20
  spanning-tree port type edge
  no shutdown
interface Ethernet3/46
  switchport
  switchport access vlan 20
  spanning-tree port type edge
  no shutdown
interface Ethernet3/47
  switchport
  switchport access vlan 20
  spanning-tree port type edge
  no shutdown
interface Ethernet3/48
  switchport
  switchport access vlan 20
  spanning-tree port type edge
  no shutdown
interface mgmt0
  ip access-group BLOCK_UNTRUSTED_NTP in
interface loopback0
  ip address 10.254.254.250/32
logging logfile SSH-LOG 6 size 8142
logging server 10.6.74.165 6 use-vrf management
logging source-interface loopback 0
logging timestamp milliseconds
logging level auth 7
logging level syslog 5
logging level authpri 7
no logging console
terminal log-all
line console
  exec-timeout 15
line vty
  exec-timeout 15
  access-class CVS-VirtualTerminal in
router ospf 10
  router-id 10.254.254.249
  log-adjacency-changes detail
hardware ip glean throttle
monitor session 1 
  source interface Ethernet2/17 both
  source interface Ethernet2/19 both
  source interface Ethernet2/20 both
  source interface Ethernet3/17 both
  destination interface Ethernet2/22
  destination interface Ethernet2/24