!Command: show running-config
!Time: Fri Mar  6 09:01:56 2026
version 6.2(24a)
power redundancy-mode ps-redundant
no hardware ip verify address source broadcast
no hardware ip verify address source multicast
no hardware ip verify address destination zero
no hardware ip verify checksum
no hardware ip verify protocol
no hardware ip verify length minimum
no hardware ip verify length consistent
no hardware ip verify length maximum max-frag
no hardware ip verify length maximum max-tcp
no hardware ip verify tcp tiny-frag
no hardware ip verify version
no hardware ipv6 verify length consistent
no hardware ipv6 verify length maximum max-frag
no hardware ipv6 verify length maximum max-tcp
no hardware ipv6 verify tcp tiny-frag
no hardware ipv6 verify version
hostname rricmcpdis7
system admin-vdc
no vdc combined-hostname
vdc rricmcpdis7 id 1
  cpu-share 5
  limit-resource vlan minimum 16 maximum 4094
  limit-resource monitor-session minimum 0 maximum 2
  limit-resource monitor-session-erspan-dst minimum 0 maximum 23
  limit-resource vrf minimum 2 maximum 4096
  limit-resource port-channel minimum 0 maximum 768
  limit-resource u4route-mem minimum 96 maximum 96
  limit-resource u6route-mem minimum 24 maximum 24
  limit-resource m4route-mem minimum 58 maximum 58
  limit-resource m6route-mem minimum 8 maximum 8
  limit-resource monitor-session-inband-src minimum 0 maximum 1
  limit-resource anycast_bundleid minimum 0 maximum 16
  limit-resource monitor-session-mx-exception-src minimum 0 maximum 1
  limit-resource monitor-session-extended minimum 0 maximum 12
vdc rricmcpdis7-prod id 2
  limit-resource module-type m1 m1xl m2xl f2e 
  cpu-share 5
  allocate interface Ethernet1/1-3,Ethernet1/5,Ethernet1/7,Ethernet1/9-11,Ethernet1/19
  allocate interface Ethernet2/1-3,Ethernet2/5,Ethernet2/7,Ethernet2/9-10,Ethernet2/19,Ethernet2/21
  allocate interface Ethernet3/5,Ethernet3/10-17
  allocate interface Ethernet4/5,Ethernet4/10-17
  allocate interface Ethernet9/1-10,Ethernet9/12-14,Ethernet9/17-18,Ethernet9/25,Ethernet9/29-32,Ethernet9/35-36,Ethernet9/41,Ethernet9/43-46,Ethernet9/48
  allocate interface Ethernet10/3-7,Ethernet10/9-10,Ethernet10/12-14,Ethernet10/16-18,Ethernet10/29-32,Ethernet10/35-38,Ethernet10/41-46
  boot-order 1
  limit-resource vlan minimum 16 maximum 4094
  limit-resource monitor-session minimum 0 maximum 2
  limit-resource monitor-session-erspan-dst minimum 0 maximum 23
  limit-resource vrf minimum 2 maximum 4096
  limit-resource port-channel minimum 0 maximum 768
  limit-resource u4route-mem minimum 96 maximum 96
  limit-resource u6route-mem minimum 4 maximum 4
  limit-resource m4route-mem minimum 8 maximum 8
  limit-resource m6route-mem minimum 5 maximum 5
  limit-resource monitor-session-inband-src minimum 0 maximum 1
  limit-resource anycast_bundleid minimum 0 maximum 16
  limit-resource monitor-session-mx-exception-src minimum 0 maximum 1
  limit-resource monitor-session-extended minimum 0 maximum 12
vdc RRICMDC-DIS7-WAN id 3
  limit-resource module-type m1 m1xl m2xl f2e 
  cpu-share 5
  allocate interface Ethernet1/4,Ethernet1/6,Ethernet1/8,Ethernet1/12,Ethernet1/15,Ethernet1/20
  allocate interface Ethernet2/4,Ethernet2/6,Ethernet2/8,Ethernet2/12,Ethernet2/15,Ethernet2/20
  allocate interface Ethernet3/3-4,Ethernet3/6,Ethernet3/18-19
  allocate interface Ethernet4/3,Ethernet4/6,Ethernet4/18-19
  allocate interface Ethernet9/11,Ethernet9/15,Ethernet9/19,Ethernet9/38
  allocate interface Ethernet10/1,Ethernet10/8,Ethernet10/11,Ethernet10/15,Ethernet10/19,Ethernet10/28,Ethernet10/48
  boot-order 1
  limit-resource vlan minimum 16 maximum 4094
  limit-resource monitor-session minimum 0 maximum 2
  limit-resource monitor-session-erspan-dst minimum 0 maximum 23
  limit-resource vrf minimum 2 maximum 4096
  limit-resource port-channel minimum 0 maximum 768
  limit-resource u4route-mem minimum 8 maximum 8
  limit-resource u6route-mem minimum 4 maximum 4
  limit-resource m4route-mem minimum 8 maximum 8
  limit-resource m6route-mem minimum 5 maximum 5
  limit-resource monitor-session-inband-src minimum 0 maximum 1
  limit-resource anycast_bundleid minimum 0 maximum 16
  limit-resource monitor-session-mx-exception-src minimum 0 maximum 1
  limit-resource monitor-session-extended minimum 0 maximum 12
vdc rricmcpdis11ptwan-01 id 4
  limit-resource module-type m1 m1xl m2xl f2e 
  cpu-share 5
  allocate interface Ethernet3/1-2,Ethernet3/7-9,Ethernet3/20-24
  allocate interface Ethernet4/1-2,Ethernet4/4,Ethernet4/7-9,Ethernet4/20-24
  allocate interface Ethernet9/16
  allocate interface Ethernet10/33-34
  boot-order 1
  limit-resource vlan minimum 16 maximum 4094
  limit-resource monitor-session minimum 0 maximum 2
  limit-resource monitor-session-erspan-dst minimum 0 maximum 23
  limit-resource vrf minimum 2 maximum 4096
  limit-resource port-channel minimum 0 maximum 768
  limit-resource u4route-mem minimum 8 maximum 8
  limit-resource u6route-mem minimum 4 maximum 4
  limit-resource m4route-mem minimum 8 maximum 8
  limit-resource m6route-mem minimum 5 maximum 5
  limit-resource monitor-session-inband-src minimum 0 maximum 1
  limit-resource anycast_bundleid minimum 0 maximum 16
  limit-resource monitor-session-mx-exception-src minimum 0 maximum 1
  limit-resource monitor-session-extended minimum 0 maximum 12
vdc rricuomdisprdpod-7 id 5
  limit-resource module-type m1 m1xl m2xl f2e 
  cpu-share 5
  allocate interface Ethernet1/13-14,Ethernet1/16-18,Ethernet1/21-24
  allocate interface Ethernet2/13-14,Ethernet2/16-18,Ethernet2/23-24
  allocate interface Ethernet9/20-24,Ethernet9/26-28,Ethernet9/33-34,Ethernet9/37,Ethernet9/39-40,Ethernet9/42,Ethernet9/47
  allocate interface Ethernet10/2,Ethernet10/20-22,Ethernet10/24-26,Ethernet10/39-40
  boot-order 1
  limit-resource vlan minimum 16 maximum 4094
  limit-resource monitor-session minimum 0 maximum 2
  limit-resource monitor-session-erspan-dst minimum 0 maximum 23
  limit-resource vrf minimum 2 maximum 4096
  limit-resource port-channel minimum 0 maximum 768
  limit-resource u4route-mem minimum 8 maximum 8
  limit-resource u6route-mem minimum 4 maximum 4
  limit-resource m4route-mem minimum 8 maximum 8
  limit-resource m6route-mem minimum 5 maximum 5
  limit-resource monitor-session-inband-src minimum 0 maximum 1
  limit-resource anycast_bundleid minimum 0 maximum 16
  limit-resource monitor-session-mx-exception-src minimum 0 maximum 1
  limit-resource monitor-session-extended minimum 0 maximum 12
vdc PROD id 6
  limit-resource module-type m1 m1xl m2xl f2e 
  cpu-share 5
  boot-order 1
  limit-resource vlan minimum 16 maximum 4094
  limit-resource monitor-session minimum 0 maximum 2
  limit-resource monitor-session-erspan-dst minimum 0 maximum 23
  limit-resource vrf minimum 2 maximum 4096
  limit-resource port-channel minimum 0 maximum 768
  limit-resource u4route-mem minimum 8 maximum 8
  limit-resource u6route-mem minimum 4 maximum 4
  limit-resource m4route-mem minimum 8 maximum 8
  limit-resource m6route-mem minimum 5 maximum 5
  limit-resource monitor-session-inband-src minimum 0 maximum 1
  limit-resource anycast_bundleid minimum 0 maximum 16
  limit-resource monitor-session-mx-exception-src minimum 0 maximum 1
  limit-resource monitor-session-extended minimum 0 maximum 12
feature tacacs+
logging level arp 3
username admin password 5 $1$Q4DsQgjP$oUDRMpudw3cLSQRi7AaR40  role network-admin
username admin role vdc-admin
username ciscoworks password 5 $1$Z7xy$KHhKWoDsf5Lnqtgg3ZRvo.  role network-admin
username ServiceNow password 5 $1$KwIzf.eG$yGDK9XQPR72Mm7ixRoyW31  role network-operator
username ServiceNow role vdc-operator
username SolarWinds password 5 $1$powrzR2K$0S6BpKsAPh/iK88ggtyrH.  role network-operator
username SolarWinds role vdc-operator
username Qualys password 5 $1$dT/uNXnq$qWPJH.jz1kd2o4iEDiFNu/  role network-operator
username Qualys role vdc-operator
username ciscoISE password 5 $5$ihSphN6z$kiuYXvcq4.fEKth5uzVz7oF7McQbY5D3GoFXz2amzL9  role vdc-admin
banner motd #
-----------------------------------------------------
                    CVS Health
        ---=  Enterprise Data Network  =---
-----------------------------------------------------
         WARNING: Login attempts are audited. 
        Access is only for authorized purposes. 
           Offenders will be prosecuted!
-----------------------------------------------------
                    CRC 12.Nexus_NX
#
no ip domain-lookup
ip domain-name CVS.COM
tacacs-server host 10.123.240.25 key 7 "M@qg@Jpnuh!23" 
tacacs-server host 10.123.240.26 key 7 "M@qg@Jpnuh!23" 
tacacs-server host 10.18.40.223 key 7 "M@qg@Jpnuh!23" 
tacacs-server host 10.18.40.224 key 7 "M@qg@Jpnuh!23" 
aaa group server tacacs+ CVS_ISE_NetAdmin 
    server 10.123.240.25 
    server 10.123.240.26 
    server 10.18.40.223 
    server 10.18.40.224 
    use-vrf management
crypto key param rsa label R-RICMB-DIS7 modulus 2048 
logging event trunk-status default
ip access-list 75
  10 permit ip 204.99.37.30/32 any 
  20 permit ip 10.249.247.3/32 any 
  30 permit ip 10.18.106.117/32 any 
  40 permit ip 10.18.58.47/32 any 
  50 permit ip 10.18.145.175/32 any 
  60 permit ip 10.92.236.248/32 any 
  70 permit ip 10.18.107.49/32 any 
  80 permit ip 10.217.24.128/32 any 
  90 permit ip 10.92.236.246/32 any 
  100 permit ip 10.92.236.247/32 any 
  110 permit ip 10.93.46.55/32 any 
  120 permit ip 10.92.236.245/32 any 
  130 permit ip 10.93.46.54/32 any 
  140 permit ip 10.92.252.248/32 any 
  150 permit ip 10.93.46.32/32 any 
  160 permit ip 10.92.252.246/32 any 
  170 permit ip 10.92.252.245/32 any 
  180 permit ip 10.93.46.31/32 any 
  190 permit ip 10.18.107.11/32 any 
  200 permit ip 10.249.120.8/32 any 
  210 permit ip 10.18.109.253/32 any 
  220 permit ip 10.18.172.61/32 any 
  230 permit ip 10.18.109.252/32 any 
  240 permit ip 10.18.24.139/32 any 
  250 permit ip 10.18.24.140/32 any 
  260 permit ip 10.18.24.141/32 any 
  270 permit ip 10.18.109.251/32 any 
  280 permit ip 204.99.62.7/32 any 
  290 permit ip 10.92.27.208/32 any 
  300 permit ip 10.228.8.87/32 any 
  310 permit ip 10.93.22.248/32 any 
  320 permit ip 10.228.8.90/32 any 
  330 permit ip 10.228.8.88/32 any 
  340 permit ip 10.228.8.89/32 any 
  350 permit ip 10.93.15.188/32 any 
  360 permit ip 10.93.15.189/32 any 
  370 permit ip 10.93.15.190/32 any 
  380 permit ip 204.99.87.1/32 any 
  390 permit ip 199.103.14.0/24 any 
  400 permit ip 198.187.97.0/24 any 
  410 permit ip 10.123.48.0/23 any 
  420 permit ip 10.18.2.0/23 any 
  430 permit ip 10.93.46.32/29 any 
  440 permit ip 10.18.106.100/30 any 
  450 permit ip 10.18.110.0/30 any 
  460 deny ip any any log 
  470 permit ip 10.93.46.33/32 any 
  480 permit ip 10.93.46.34/32 any 
  490 permit ip 10.93.46.35/32 any 
  500 permit ip 10.93.46.36/32 any 
  510 permit ip 10.93.46.37/32 any 
  520 permit ip 10.93.46.38/32 any 
  530 permit ip 10.93.46.39/32 any 
  540 permit ip 10.18.106.101/32 any 
  550 permit ip 10.18.106.102/32 any 
  560 permit ip 10.18.110.1/32 any 
  570 permit ip 10.18.110.2/32 any 
ip access-list BLOCK_UNTRUSTED_NTP
  10 permit udp 204.99.62.66/32 eq ntp any 
  20 permit udp 10.17.0.35/32 eq ntp any 
  30 permit udp 10.17.0.36/32 eq ntp any 
  40 permit udp 10.18.126.242/32 eq ntp any 
  50 permit udp 10.123.49.10/32 eq ntp any 
  60 deny udp any any eq ntp log 
  70 permit ip any any 
  80 remark ACL TO BLOCK NTP FROM UNTRUSTED SOURCES
ip access-list CVS-VirtualTerminal
  10 remark PBM Jump Servers
  20 permit tcp 10.123.48.141/32 any eq 22 
  30 permit tcp 10.123.48.142/32 any eq 22 
  40 permit tcp 10.123.49.75/32 any eq 22 
  50 permit tcp 204.99.37.30/32 any eq 22 
  60 remark Retail Jump Servers
  70 permit tcp 10.18.2.141/32 any eq 22 
  80 permit tcp 10.18.3.71/32 any eq 22 
  90 remark HCB Jump Servers
  100 permit tcp 10.112.220.0/23 any eq 22 
  110 permit tcp 10.116.160.0/21 any eq 22 
  120 remark Tools VLANs
  130 permit tcp 10.123.48.0/23 any eq 22 
  140 permit tcp 10.18.2.0/23 any eq 22 
  150 permit tcp 10.81.69.0/24 any eq 22 
  160 remark RTL Only - Omnicare NAT
  170 permit tcp 198.187.97.0/25 any eq 22 
  180 remark Retail Forescout
  190 permit tcp 10.18.106.102/32 any eq 22 
  200 permit tcp 10.18.106.117/32 any eq 22 
  210 permit tcp 10.18.107.11/32 any eq 22 
  220 permit tcp 10.18.107.49/32 any eq 22 
  230 permit tcp 10.18.109.251/32 any eq 22 
  240 permit tcp 10.18.109.252/32 any eq 22 
  250 remark Tufin - Azure
  260 permit tcp 10.85.80.32/27 any eq 22 
  270 permit tcp 10.85.105.0/27 any eq 22 
  280 permit tcp 10.85.214.96/27 any eq 22 
  290 permit tcp 10.85.8.224/27 any eq 22 
  300 permit tcp 10.85.144.32/27 any eq 22 
  310 remark Tufin - OnPremise
  320 permit tcp 10.123.252.0/25 any eq 22 
  330 permit tcp 10.220.191.0/25 any eq 22 
  340 permit tcp 167.69.152.128/25 any eq 22 
  350 permit tcp 157.121.152.128/25 any eq 22 
  360 remark RI Engineering Meraki
  370 permit tcp 10.136.0.0/17 any eq 22 
  380 remark AZ Engineering Meraki
  390 permit tcp 10.206.0.0/17 any eq 22 
  400 remark CT Engineering Meraki
  410 permit tcp 10.96.0.0/17 any eq 22 
  420 remark CT2 Engineering Meraki
  430 permit tcp 10.96.128.0/17 any eq 22 
  440 deny ip any any 
ip access-list SNMP_Qualys
  statistics per-entry
  10 permit ip 10.124.220.8/29 any 
  20 permit ip 10.124.220.16/29 any 
  30 permit ip 10.228.124.8/29 any 
  40 permit ip 10.228.124.16/29 any 
  50 permit ip 10.228.124.25/32 any 
  60 deny ip any any log 
ip access-list SNMP_ServiceNow
  statistics per-entry
  10 permit ip 10.124.191.120/32 any 
  20 permit ip 10.124.191.121/32 any 
  30 permit ip 10.124.191.122/32 any 
  40 permit ip 10.124.191.123/32 any 
  50 permit ip 10.124.191.124/32 any 
  60 permit ip 10.124.191.137/32 any 
  70 permit ip 10.124.191.138/32 any 
  80 permit ip 10.124.191.139/32 any 
  90 permit ip 10.124.191.140/32 any 
  100 permit ip 10.124.191.141/32 any 
  110 permit ip 10.124.191.142/32 any 
  120 permit ip 10.228.167.88/32 any 
  130 permit ip 10.228.167.89/32 any 
  140 permit ip 10.228.167.90/32 any 
  150 permit ip 10.228.167.91/32 any 
  160 permit ip 10.228.167.92/32 any 
  170 permit ip 10.228.167.93/32 any 
  180 permit ip 10.228.167.94/32 any 
  190 permit ip 10.228.167.95/32 any 
  200 permit ip 10.228.167.96/32 any 
  210 permit ip 10.228.167.97/32 any 
  220 permit ip 10.42.85.31/32 any 
  230 permit ip 10.42.85.32/32 any 
  240 permit ip 10.42.85.33/32 any 
  250 permit ip 10.42.85.34/32 any 
  260 permit ip 10.102.51.21/32 any 
  270 permit ip 10.102.51.22/32 any 
  280 permit ip 10.102.51.23/32 any 
  290 permit ip 10.102.51.24/32 any 
  300 permit ip 10.102.51.25/32 any 
  310 permit ip 10.102.51.26/32 any 
  320 permit ip 10.102.51.27/32 any 
  330 permit ip 10.102.51.28/32 any 
  340 permit ip 10.102.131.19/32 any 
  350 permit ip 10.102.131.21/32 any 
  360 permit ip 10.102.131.22/32 any 
  370 permit ip 10.102.131.24/32 any 
  380 permit ip 10.102.131.25/32 any 
  390 permit ip 10.102.131.26/32 any 
  400 permit ip 10.102.131.27/32 any 
  410 permit ip 10.236.64.232/32 any 
  420 permit ip 10.236.64.233/32 any 
  430 permit ip 10.236.64.234/32 any 
  440 permit ip 10.236.0.75/32 any 
  450 permit ip 10.236.0.76/32 any 
  460 permit ip 10.236.0.77/32 any 
  470 permit ip 10.236.64.205/32 any 
  480 permit ip 10.236.64.207/32 any 
  490 permit ip 10.236.64.208/32 any 
  500 permit ip 10.236.0.44/32 any 
  510 permit ip 10.236.0.45/32 any 
  520 permit ip 10.236.0.46/32 any 
  530 permit ip 10.159.16.5/32 any 
  540 permit ip 10.159.16.19/32 any 
  550 permit ip 10.159.16.20/32 any 
  560 permit ip 10.159.17.21/32 any 
  570 permit ip 10.159.17.23/32 any 
  580 permit ip 10.159.17.22/32 any 
  590 permit ip 10.159.17.20/32 any 
  600 permit ip 10.85.164.4/32 any 
  610 permit ip 10.85.164.5/32 any 
  620 permit ip 10.85.38.116/32 any 
  630 permit ip 10.85.38.117/32 any 
  640 permit ip 10.74.137.132/32 any 
  650 permit ip 10.74.137.133/32 any 
  660 permit ip 10.74.9.132/32 any 
  670 permit ip 10.74.9.133/32 any 
  680 permit ip 10.74.9.101/32 any 
  690 permit ip 10.74.9.102/32 any 
  700 permit ip 10.85.9.117/32 any 
  710 permit ip 10.85.9.116/32 any 
  720 permit ip 10.223.252.23/32 any 
  730 permit ip 10.223.252.24/32 any 
  740 permit ip 10.223.252.25/32 any 
  750 permit ip 10.223.252.26/32 any 
  760 permit ip 10.85.144.164/32 any 
  770 permit ip 10.85.144.165/32 any 
  780 permit ip 10.223.251.20/32 any 
  790 permit ip 10.223.251.17/32 any 
  800 permit ip 10.223.251.18/32 any 
  810 permit ip 10.223.251.19/32 any 
  820 permit ip 10.74.137.100/32 any 
  830 permit ip 10.74.137.101/32 any 
  840 deny ip any any log 
ip access-list SNMP_SolarWinds
  10 permit ip 10.123.48.0/23 any 
  20 permit ip 10.18.2.0/23 any 
  30 permit ip 204.99.37.30/32 any 
  40 permit ip 198.187.97.0/25 any 
  50 deny ip any any log 
class-map type queuing match-any 1p7q4t-out-pq1
  match cos 5
class-map type queuing match-any 1p7q4t-out-q2
  match cos 1
class-map type queuing match-any 1p7q4t-out-q3
  match cos 2-4,6-7
class-map type queuing match-any 1p7q4t-out-q-default
  match cos 0
hardware qos dscp-to-queue ingress module-type all
copp profile strict
snmp-server contact NETWORK_ENGINEERING_AND_OPERATIONS
snmp-server location 2100 Highland Corporate Park Dr, Cumberland, RI, 02864 () () () (Retail Customer Care) ( |) 
snmp-server source-interface trap mgmt0
snmp-server user admin network-admin auth md5 0x2f2694295992814ba19486a16f5e196b priv 0x2f2694295992814ba19486a16f5e196b localizedkey
snmp-server user Qualys vdc-operator auth sha 0xd9c395ced4219baa4bf9e68d86622ffa24cbc876 priv aes-128 0x3444c8d35be2e0049dcec5ad2eda31fa9a8cb6ba localizedkey
snmp-server user ciscoISE vdc-admin 
snmp-server user ServiceNow vdc-operator auth sha 0x5e33c4ba3b98eab4e5a98599d33a51bf719f5b83 priv aes-128 0xb509a59ef7789a21416943157ddfb5894d96eb7f localizedkey
snmp-server user SolarWinds vdc-operator auth sha 0x6fb32da6aec4dbc5743fc36f8a04c756ea67d65b priv aes-128 0x26dd541a62c9f43f2a393892994b008e7ff3b5dc localizedkey
snmp-server user Qualys use-ipv4acl SNMP_Qualys
snmp-server user ServiceNow use-ipv4acl SNMP_ServiceNow
snmp-server user SolarWinds use-ipv4acl SNMP_SolarWinds
snmp-server host 10.18.40.116 traps version 2c C^s.012!
snmp-server host 10.18.40.116 use-vrf management
snmp-server host 10.18.40.117 traps version 2c C^s.012!
snmp-server host 10.18.40.117 use-vrf management
snmp-server host 10.123.49.11 traps version 2c C^s.012!
snmp-server host 10.123.49.11 use-vrf management
rmon event 1 log trap public description FATAL(1) owner PMON@FATAL
rmon event 2 log trap public description CRITICAL(2) owner PMON@CRITICAL
rmon event 3 log trap public description ERROR(3) owner PMON@ERROR
rmon event 4 log trap public description WARNING(4) owner PMON@WARNING
rmon event 5 log trap public description INFORMATION(5) owner PMON@INFO
snmp-server enable traps callhome event-notify
snmp-server enable traps callhome smtp-send-fail
snmp-server enable traps cfs state-change-notif
snmp-server enable traps cfs merge-failure
snmp-server enable traps aaa server-state-change
snmp-server enable traps feature-control FeatureOpStatusChange
snmp-server enable traps sysmgr cseFailSwCoreNotifyExtended
snmp-server enable traps config ccmCLIRunningConfigChanged
snmp-server enable traps snmp authentication
snmp-server enable traps link cisco-xcvr-mon-status-chg
snmp-server enable traps vtp notifs
snmp-server enable traps vtp vlancreate
snmp-server enable traps vtp vlandelete
snmp-server enable traps bridge newroot
snmp-server enable traps bridge topologychange
snmp-server enable traps stpx inconsistency
snmp-server enable traps stpx root-inconsistency
snmp-server enable traps stpx loop-inconsistency
snmp-server enable traps feature-control ciscoFeatOpStatusChange
snmp-server community C^s.012! group vdc-operator
snmp-server community rW.012!C^s group vdc-admin
snmp-server community #Forescin!142100 group vdc-operator
snmp-server community C^s.012! use-acl 75
snmp-server community rW.012!C^s use-acl 75
snmp-server community #Forescin!142100 use-acl 75
ntp distribute
ntp server 10.17.0.35 use-vrf management
ntp server 10.17.0.36 prefer use-vrf management
ntp commit 
aaa authentication login default group CVS_ISE_NetAdmin 
aaa authentication login console group CVS_ISE_NetAdmin 
aaa authorization config-commands default group CVS_ISE_NetAdmin local 
aaa authorization commands default group CVS_ISE_NetAdmin local 
aaa accounting default group CVS_ISE_NetAdmin 
aaa authentication login error-enable 
aaa authentication login ascii-authentication 
no ip source-route
vlan 1
vrf context management
  ip route 0.0.0.0/0 10.18.126.180
interface mgmt0
  ip access-group BLOCK_UNTRUSTED_NTP in
  vrf member management
  ip address 10.18.126.233/25
terminal log-all
line console
  exec-timeout 15
line vty
  exec-timeout 15
  access-class CVS-VirtualTerminal in
boot kickstart bootflash:/n7000-s2-kickstart.6.2.24a.bin sup-1
boot system bootflash:/n7000-s2-dk9.6.2.24a.bin sup-1
boot kickstart bootflash:/n7000-s2-kickstart.6.2.24a.bin sup-2
boot system bootflash:/n7000-s2-dk9.6.2.24a.bin sup-2
hardware ip glean throttle
no system auto-upgrade epld
logging server 10.6.74.165 6 use-vrf management
logging server 10.10.109.73 5 use-vrf management
logging timestamp milliseconds
logging level syslog 5
no logging console