!Command: show running-config
!Time: Fri Mar  6 09:01:12 2026
version 6.2(24a)
hostname rricmcpdis12ptwan-01
feature tacacs+
cfs eth distribute
feature ospf
feature interface-vlan
feature netflow
feature hsrp
feature lacp
feature vpc
username admin password 5 $1$wSY7.gEc$2IgY9bZNj..2AtH/OUpkC/  role vdc-admin
username ciscoworks password 5 $1$e0FLzniF$p0/rbByF88yWSm28K3if01  role vdc-admin
username Qualys password 5 $1$zL3teYYh$3sFC3h44ziJgf50CLWbid0  role vdc-operator
banner motd #
-----------------------------------------------------
                    CVS Health
        ---=  Enterprise Data Network  =---
-----------------------------------------------------
         WARNING: Login attempts are audited. 
        Access is only for authorized purposes. 
           Offenders will be prosecuted!
-----------------------------------------------------
                    CRC 12.Nexus_km
#
no ip domain-lookup
ip tacacs source-interface loopback0
tacacs-server host 10.123.240.25 key 7 "M@qg@Jpnuh!23" 
tacacs-server host 10.123.240.26 key 7 "M@qg@Jpnuh!23" 
tacacs-server host 10.18.40.223 key 7 "M@qg@Jpnuh!23" 
tacacs-server host 10.18.40.224 key 7 "M@qg@Jpnuh!23" 
aaa group server tacacs+ CVS_ISE_NetAdmin 
    server 10.123.240.25 
    server 10.123.240.26 
    server 10.18.40.223 
    server 10.18.40.224 
    use-vrf management
ip access-list 75
  10 permit ip 204.99.37.30/32 any 
  20 permit ip 10.249.247.3/32 any 
  30 permit ip 10.18.106.117/32 any 
  40 permit ip 10.18.58.47/32 any 
  50 permit ip 10.18.145.175/32 any 
  60 permit ip 10.92.236.248/32 any 
  70 permit ip 10.18.107.49/32 any 
  80 permit ip 10.217.24.128/32 any 
  90 permit ip 10.92.236.246/32 any 
  100 permit ip 10.92.236.247/32 any 
  110 permit ip 10.93.46.55/32 any 
  120 permit ip 10.92.236.245/32 any 
  130 permit ip 10.93.46.54/32 any 
  140 permit ip 10.92.252.248/32 any 
  150 permit ip 10.93.46.32/32 any 
  160 permit ip 10.92.252.246/32 any 
  170 permit ip 10.92.252.245/32 any 
  180 permit ip 10.93.46.31/32 any 
  190 permit ip 10.18.107.11/32 any 
  200 permit ip 10.249.120.8/32 any 
  210 permit ip 10.18.109.253/32 any 
  220 permit ip 10.18.172.61/32 any 
  230 permit ip 10.18.109.252/32 any 
  240 permit ip 10.18.24.139/32 any 
  250 permit ip 10.18.24.140/32 any 
  260 permit ip 10.18.24.141/32 any 
  270 permit ip 10.18.109.251/32 any 
  280 permit ip 204.99.62.7/32 any 
  290 permit ip 10.92.27.208/32 any 
  300 permit ip 10.228.8.87/32 any 
  310 permit ip 10.93.22.248/32 any 
  320 permit ip 10.228.8.90/32 any 
  330 permit ip 10.228.8.88/32 any 
  340 permit ip 10.228.8.89/32 any 
  350 permit ip 10.93.15.188/32 any 
  360 permit ip 10.93.15.189/32 any 
  370 permit ip 10.93.15.190/32 any 
  380 permit ip 204.99.87.1/32 any 
  390 permit ip 199.103.14.0/24 any 
  400 permit ip 198.187.97.0/24 any 
  410 permit ip 10.123.48.0/23 any 
  420 permit ip 10.18.2.0/23 any 
  430 permit ip 10.93.46.32/29 any 
  440 permit ip 10.18.106.100/30 any 
  450 permit ip 10.18.110.0/30 any 
  460 deny ip any any log 
  470 permit ip 10.93.46.33/32 any 
  480 permit ip 10.93.46.34/32 any 
  490 permit ip 10.93.46.35/32 any 
  500 permit ip 10.93.46.36/32 any 
  510 permit ip 10.93.46.37/32 any 
  520 permit ip 10.93.46.38/32 any 
  530 permit ip 10.93.46.39/32 any 
  540 permit ip 10.18.106.101/32 any 
  550 permit ip 10.18.106.102/32 any 
  560 permit ip 10.18.110.1/32 any 
  570 permit ip 10.18.110.2/32 any 
ip access-list CVS-VirtualTerminal
  10 remark PBM Jump Servers
  20 permit tcp 10.123.48.141/32 any eq 22 
  30 permit tcp 10.123.48.142/32 any eq 22 
  40 permit tcp 10.123.49.75/32 any eq 22 
  50 permit tcp 204.99.37.30/32 any eq 22 
  60 remark Retail Jump Servers
  70 permit tcp 10.18.2.141/32 any eq 22 
  80 permit tcp 10.18.3.71/32 any eq 22 
  90 remark HCB Jump Servers
  100 permit tcp 10.112.220.0/23 any eq 22 
  110 permit tcp 10.116.160.0/21 any eq 22 
  120 remark Tools VLANs
  130 permit tcp 10.123.48.0/23 any eq 22 
  140 permit tcp 10.18.2.0/23 any eq 22 
  150 permit tcp 10.81.69.0/24 any eq 22 
  160 remark RTL Only - Omnicare NAT
  170 permit tcp 198.187.97.0/25 any eq 22 
  180 remark Retail Forescout
  190 permit tcp 10.18.106.102/32 any eq 22 
  200 permit tcp 10.18.106.117/32 any eq 22 
  210 permit tcp 10.18.107.11/32 any eq 22 
  220 permit tcp 10.18.107.49/32 any eq 22 
  230 permit tcp 10.18.109.251/32 any eq 22 
  240 permit tcp 10.18.109.252/32 any eq 22 
  250 remark Tufin - Azure
  260 permit tcp 10.85.80.32/27 any eq 22 
  270 permit tcp 10.85.105.0/27 any eq 22 
  280 permit tcp 10.85.214.96/27 any eq 22 
  290 permit tcp 10.85.8.224/27 any eq 22 
  300 permit tcp 10.85.144.32/27 any eq 22 
  310 remark Tufin - OnPremise
  320 permit tcp 10.123.252.0/25 any eq 22 
  330 permit tcp 10.220.191.0/25 any eq 22 
  340 permit tcp 167.69.152.128/25 any eq 22 
  350 permit tcp 157.121.152.128/25 any eq 22 
  360 remark RI Engineering Meraki
  370 permit tcp 10.136.0.0/17 any eq 22 
  380 remark AZ Engineering Meraki
  390 permit tcp 10.206.0.0/17 any eq 22 
  400 remark CT Engineering Meraki
  410 permit tcp 10.96.0.0/17 any eq 22 
  420 remark CT2 Engineering Meraki
  430 permit tcp 10.96.128.0/17 any eq 22 
  440 deny ip any any 
ip access-list SNMP_Qualys
  statistics per-entry
  10 permit ip 10.124.220.8/29 any 
  20 permit ip 10.124.220.16/29 any 
  30 permit ip 10.228.124.8/29 any 
  40 permit ip 10.228.124.16/29 any 
  50 permit ip 10.228.124.25/32 any 
  60 deny ip any any log 
ip access-list SNMP_ServiceNow
  statistics per-entry
  10 permit ip 10.124.191.120/32 any 
  20 permit ip 10.124.191.121/32 any 
  30 permit ip 10.124.191.122/32 any 
  40 permit ip 10.124.191.123/32 any 
  50 permit ip 10.124.191.124/32 any 
  60 permit ip 10.124.191.137/32 any 
  70 permit ip 10.124.191.138/32 any 
  80 permit ip 10.124.191.139/32 any 
  90 permit ip 10.124.191.140/32 any 
  100 permit ip 10.124.191.141/32 any 
  110 permit ip 10.124.191.142/32 any 
  120 permit ip 10.228.167.88/32 any 
  130 permit ip 10.228.167.89/32 any 
  140 permit ip 10.228.167.90/32 any 
  150 permit ip 10.228.167.91/32 any 
  160 permit ip 10.228.167.92/32 any 
  170 permit ip 10.228.167.93/32 any 
  180 permit ip 10.228.167.94/32 any 
  190 permit ip 10.228.167.95/32 any 
  200 permit ip 10.228.167.96/32 any 
  210 permit ip 10.228.167.97/32 any 
  220 permit ip 10.42.85.31/32 any 
  230 permit ip 10.42.85.32/32 any 
  240 permit ip 10.42.85.33/32 any 
  250 permit ip 10.42.85.34/32 any 
  260 permit ip 10.102.51.21/32 any 
  270 permit ip 10.102.51.22/32 any 
  280 permit ip 10.102.51.23/32 any 
  290 permit ip 10.102.51.24/32 any 
  300 permit ip 10.102.51.25/32 any 
  310 permit ip 10.102.51.26/32 any 
  320 permit ip 10.102.51.27/32 any 
  330 permit ip 10.102.51.28/32 any 
  340 permit ip 10.102.131.19/32 any 
  350 permit ip 10.102.131.21/32 any 
  360 permit ip 10.102.131.22/32 any 
  370 permit ip 10.102.131.24/32 any 
  380 permit ip 10.102.131.25/32 any 
  390 permit ip 10.102.131.26/32 any 
  400 permit ip 10.102.131.27/32 any 
  410 permit ip 10.236.64.232/32 any 
  420 permit ip 10.236.64.233/32 any 
  430 permit ip 10.236.64.234/32 any 
  440 permit ip 10.236.0.75/32 any 
  450 permit ip 10.236.0.76/32 any 
  460 permit ip 10.236.0.77/32 any 
  470 permit ip 10.236.64.205/32 any 
  480 permit ip 10.236.64.207/32 any 
  490 permit ip 10.236.64.208/32 any 
  500 permit ip 10.236.0.44/32 any 
  510 permit ip 10.236.0.45/32 any 
  520 permit ip 10.236.0.46/32 any 
  530 permit ip 10.159.16.5/32 any 
  540 permit ip 10.159.16.19/32 any 
  550 permit ip 10.159.16.20/32 any 
  560 permit ip 10.159.17.21/32 any 
  570 permit ip 10.159.17.23/32 any 
  580 permit ip 10.159.17.22/32 any 
  590 permit ip 10.159.17.20/32 any 
  600 permit ip 10.85.164.4/32 any 
  610 permit ip 10.85.164.5/32 any 
  620 permit ip 10.85.38.116/32 any 
  630 permit ip 10.85.38.117/32 any 
  640 permit ip 10.74.137.132/32 any 
  650 permit ip 10.74.137.133/32 any 
  660 permit ip 10.74.9.132/32 any 
  670 permit ip 10.74.9.133/32 any 
  680 permit ip 10.74.9.101/32 any 
  690 permit ip 10.74.9.102/32 any 
  700 permit ip 10.85.9.117/32 any 
  710 permit ip 10.85.9.116/32 any 
  720 permit ip 10.223.252.23/32 any 
  730 permit ip 10.223.252.24/32 any 
  740 permit ip 10.223.252.25/32 any 
  750 permit ip 10.223.252.26/32 any 
  760 permit ip 10.85.144.164/32 any 
  770 permit ip 10.85.144.165/32 any 
  780 permit ip 10.223.251.20/32 any 
  790 permit ip 10.223.251.17/32 any 
  800 permit ip 10.223.251.18/32 any 
  810 permit ip 10.223.251.19/32 any 
  820 permit ip 10.74.137.100/32 any 
  830 permit ip 10.74.137.101/32 any 
  840 deny ip any any log 
ip access-list SNMP_SolarWinds
  10 permit ip 10.123.48.0/23 any 
  20 permit ip 10.18.2.0/23 any 
  30 permit ip 204.99.37.30/32 any 
  40 deny ip any any log 
policy-map type queuing M1-M2-10GE-Outbound
  class type queuing 1p7q4t-out-pq1
    priority level 1
    queue-limit percent 15
  class type queuing 1p7q4t-out-q3
    bandwidth remaining percent 60
    queue-limit percent 45
    queue-limit cos 7 percent 100
    queue-limit cos 6 percent 100
    queue-limit cos 4 percent 100
    queue-limit cos 3 percent 80
    queue-limit cos 2 percent 60
  class type queuing 1p7q4t-out-q2
    bandwidth remaining percent 5
    queue-limit percent 15
    random-detect cos-based
    random-detect cos 1 minimum-threshold percent 80 maximum-threshold percent 100
  class type queuing 1p7q4t-out-q-default
    bandwidth remaining percent 35
    queue-limit percent 25
    random-detect cos-based
    random-detect cos 0 minimum-threshold percent 80 maximum-threshold percent 100
snmp-server contact Enterprise Connectivity Engineering (ECE) 22.18
snmp-server location 2100 Highland Corporate Park Dr, Cumberland, RI, 02864 () () () (Retail Corp) ( |) 
snmp-server source-interface trap loopback0
snmp-server user admin vdc-admin auth md5 0x9490936af23c49c07f4edf6e80099cbe priv 0x9490936af23c49c07f4edf6e80099cbe localizedkey
snmp-server user Qualys vdc-operator auth sha 0xd4d1f47aee3cb93eb668417702a7cb62f22204ce priv aes-128 0x0aa5290fc947d005f8a0c383346e3edafc2a2f61 localizedkey
snmp-server user Qualys use-ipv4acl SNMP_Qualys
snmp-server host 10.18.40.116 traps version 2c C^s.012!
snmp-server host 10.18.40.117 traps version 2c C^s.012!
rmon event 1 log trap public description FATAL(1) owner PMON@FATAL
rmon event 2 log trap public description CRITICAL(2) owner PMON@CRITICAL
rmon event 3 log trap public description ERROR(3) owner PMON@ERROR
rmon event 4 log trap public description WARNING(4) owner PMON@WARNING
rmon event 5 log trap public description INFORMATION(5) owner PMON@INFO
snmp-server enable traps callhome event-notify
snmp-server enable traps callhome smtp-send-fail
snmp-server enable traps cfs state-change-notif
snmp-server enable traps cfs merge-failure
snmp-server enable traps aaa server-state-change
snmp-server enable traps feature-control FeatureOpStatusChange
snmp-server enable traps sysmgr cseFailSwCoreNotifyExtended
snmp-server enable traps config ccmCLIRunningConfigChanged
snmp-server enable traps feature-control ciscoFeatOpStatusChange
snmp-server community C^s.012! group vdc-operator
snmp-server community rW.012!C^s group vdc-admin
snmp-server community #Forescin!142100 group vdc-operator
snmp-server community C^s.012! use-acl 75
snmp-server community rW.012!C^s use-acl 75
snmp-server community #Forescin!142100 use-acl 75
ntp server 10.17.0.35 use-vrf management
ntp server 10.17.0.36 use-vrf management
ntp server 10.18.126.242 prefer
ntp server 10.123.49.10
aaa authentication login default group CVS_ISE_NetAdmin 
aaa authorization config-commands default group CVS_ISE_NetAdmin 
aaa authorization commands default group CVS_ISE_NetAdmin 
aaa accounting default group CVS_ISE_NetAdmin 
aaa authentication login error-enable 
aaa authentication login ascii-authentication 
ip route 10.9.0.0/16 10.17.51.102
ip route 10.9.2.0/24 10.17.51.102
ip route 10.9.2.70/32 10.17.51.102
ip route 10.9.2.215/32 10.17.51.102
ip route 10.9.62.50/32 10.17.51.102
ip route 10.9.62.146/32 10.17.51.102
ip route 10.9.62.147/32 10.17.51.102
ip route 10.18.124.0/26 10.17.51.102
ip route 10.77.5.5/32 10.77.5.145
ip route 10.77.5.10/32 10.77.5.145
ip route 10.77.5.128/28 10.77.5.145
ip route 10.77.5.160/28 10.77.5.145
ip route 10.77.5.176/28 10.77.5.145
ip route 10.77.5.192/28 10.77.5.145
ip route 10.77.5.208/28 10.77.5.145
ip route 10.78.136.32/27 10.77.5.145
ip route 10.78.136.64/27 10.77.5.145
ip route 10.78.136.96/27 10.77.5.145
ip route 10.78.136.160/27 10.77.5.145
ip route 10.78.136.192/27 10.77.5.145
ip route 10.78.136.224/27 10.77.5.145
ip route 10.78.137.0/25 10.77.5.145
ip route 10.78.138.0/27 10.77.5.145
ip route 10.79.241.0/25 10.77.5.145
ip route 10.79.241.160/28 10.77.5.145
ip route 10.79.241.176/28 10.77.5.145
ip route 10.79.241.192/28 10.77.5.145
ip route 10.79.241.240/28 10.77.5.145
ip route 10.199.254.8/30 10.17.51.102
ip route 10.199.254.16/30 10.17.51.102
ip route 192.94.141.0/24 10.17.51.102
ip route 192.168.143.56/30 10.17.51.102
ip route 199.103.14.0/27 10.17.51.102
no ip source-route
vlan 1,253,999
flow timeout active 60
flow timeout session
flow exporter NetQos
  description Export to 10.123.49.12
  destination 10.123.49.12 use-vrf management
  transport udp 2055
  source mgmt0
  version 9
    template data timeout 90
flow record NetQos
  description Export to 10.123.49.12
  match ipv4 source address
  match ipv4 destination address
  match ip protocol
  match ip tos
  match transport source-port
  match transport destination-port
  collect routing source as
  collect routing destination as
  collect routing forwarding-status
  collect routing next-hop address ipv4
  collect transport tcp flags
  collect counter bytes
  collect counter packets
  collect timestamp sys-uptime first
  collect timestamp sys-uptime last
  collect flow sampler id
  collect ip version
sampler SAMPLER-2
  mode 1 out-of 10
flow monitor NetQos
  record NetQos
  exporter NetQos
vlan 253
  name 10.77.5.144(CVS.COM)
ip prefix-list ALLSTATICS seq 5 permit 10.77.5.128/28 
ip prefix-list ALLSTATICS seq 10 permit 10.77.5.160/28 
ip prefix-list ALLSTATICS seq 15 permit 10.77.5.176/28 
ip prefix-list ALLSTATICS seq 20 permit 10.77.5.192/28 
ip prefix-list ALLSTATICS seq 25 permit 10.77.5.208/28 
ip prefix-list ALLSTATICS seq 30 permit 10.78.136.32/27 
ip prefix-list ALLSTATICS seq 35 permit 10.78.136.64/27 
ip prefix-list ALLSTATICS seq 40 permit 10.78.136.160/27 
ip prefix-list ALLSTATICS seq 45 permit 10.78.136.192/27 
ip prefix-list ALLSTATICS seq 50 permit 10.78.136.224/27 
ip prefix-list ALLSTATICS seq 55 permit 10.78.137.0/25 
ip prefix-list ALLSTATICS seq 60 permit 10.78.138.0/27 
ip prefix-list ALLSTATICS seq 65 permit 10.79.241.0/25 
ip prefix-list ALLSTATICS seq 70 permit 10.79.241.160/28 
ip prefix-list ALLSTATICS seq 75 permit 10.79.241.176/28 
ip prefix-list ALLSTATICS seq 80 permit 10.79.241.192/28 
ip prefix-list ALLSTATICS seq 85 permit 10.79.241.240/28 
ip prefix-list ALLSTATICS seq 90 permit 10.77.5.5/32 
ip prefix-list ALLSTATICS seq 95 permit 10.77.5.10/32 
ip prefix-list ALLSTATICS seq 100 permit 10.78.136.96/27 
ip prefix-list STATIC-TO-OPSF seq 5 permit 10.9.62.50/32 
ip prefix-list STATIC-TO-OPSF seq 10 permit 10.9.62.146/32 
ip prefix-list STATIC-TO-OPSF seq 15 permit 10.9.62.147/32 
route-map REDIS_STATIC permit 10
  match ip address prefix-list STATIC-TO-OPSF 
vrf context management
interface Vlan1
interface Vlan253
  description CVS.COM
  no shutdown
  no ip redirects
  ip address 10.77.5.149/28
  ip ospf passive-interface
  ip router ospf 10 area 10.0.252.0
  hsrp 253 
    authentication text N3xu$
    timers  1  3
    ip 10.77.5.147
interface Vlan999
  no shutdown
  no ip redirects
  ip address 10.134.76.3/24
  ip ospf passive-interface
  ip router ospf 10 area 10.0.252.0
  hsrp 99 
    authentication text N3xu$
    preempt 
    timers  1  3
    ip 10.134.76.1
interface port-channel1
  description VPC PEER LINK
  switchport
  switchport mode trunk
  switchport trunk allowed vlan 253,999
  spanning-tree port type network
interface port-channel4
  description R-RICMB-DIS11-PTWAN
  ip address 10.0.128.158/30
  ip ospf authentication message-digest
  ip ospf message-digest-key 1 md5 7 1237560F074F
  ip ospf network point-to-point
  ip router ospf 10 area 0.0.0.0
interface port-channel10
  description R-RICMB-COR4
  ip address 10.0.128.66/30
  ip ospf authentication message-digest
  ip ospf message-digest-key 1 md5 7 1237560F074F
  ip ospf network point-to-point
  ip router ospf 10 area 0.0.0.0
interface port-channel11
  description R-RICMB-COR3
  ip address 10.0.128.54/30
  ip ospf authentication message-digest
  ip ospf message-digest-key 1 md5 7 1237560F074F
  ip ospf network point-to-point
  ip router ospf 10 area 0.0.0.0
interface Ethernet3/1
  description R-RICMB-COR4 E17/17
  channel-group 10 mode active
  no shutdown
interface Ethernet3/2
  description R-RICMB-COR3 E17/18
  channel-group 11 mode active
  no shutdown
interface Ethernet3/7
interface Ethernet3/8
interface Ethernet3/9
interface Ethernet3/20
interface Ethernet3/21
interface Ethernet3/22
interface Ethernet3/23
  description R-RICMB-DIS11-PTWAN E3/23
  switchport
  switchport mode trunk
  switchport trunk allowed vlan 253,999
  channel-group 1 mode active
  no shutdown
interface Ethernet3/24
  description R-RICMB-DIS11-PTWAN E3/24
  channel-group 4 mode active
  no shutdown
interface Ethernet4/1
  description R-RICMB-COR4 E18/17
  channel-group 10 mode active
  no shutdown
interface Ethernet4/2
  description R-RICMB-COR3 E18/18
  channel-group 11 mode active
  no shutdown
interface Ethernet4/4
interface Ethernet4/7
interface Ethernet4/8
interface Ethernet4/9
interface Ethernet4/20
interface Ethernet4/21
interface Ethernet4/22
interface Ethernet4/23
  description R-RICMB-DIS11-PTWAN E4/23
  switchport
  switchport mode trunk
  switchport trunk allowed vlan 253,999
  channel-group 1 mode active
  no shutdown
interface Ethernet4/24
  description R-RICMB-DIS11-PTWAN E4/24
  channel-group 4 mode active
  no shutdown
interface Ethernet9/16
  switchport
  switchport access vlan 253
  no shutdown
interface Ethernet10/33
  switchport
  switchport access vlan 999
  no shutdown
interface Ethernet10/34
  no ip redirects
  ip address 10.17.51.101/30
  ip ospf network point-to-point
  ip router ospf 10 area 10.0.252.0
  no shutdown
interface loopback0
  ip address 10.0.0.152/32
  ip router ospf 10 area 0.0.0.0
logging server 10.10.109.73 5 use-vrf management
logging server 10.6.74.165 6 use-vrf management
logging source-interface loopback 0
logging timestamp milliseconds
logging level syslog 5
no logging console
terminal log-all
line console
  exec-timeout 15
line vty
  exec-timeout 15
  access-class CVS-VirtualTerminal in
router ospf 10
  router-id 10.0.0.152
  redistribute static route-map REDIS_STATIC
  log-adjacency-changes detail
  auto-cost reference-bandwidth 100000
  vrf management
hardware ip glean throttle